## Pandas 與資料蒐集

In [3]:
import pandas
lvr  = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/rtibame/master/Data/lvr_with_location.xlsx')
lvr.head(1)

,index,area,trading_target,address,land_sqmeter,city_land_type,trading_ymd,trading_num,floor,total_floor,...,compartment,management,total_price,price_per_sqmeter,parking_type,parking_sqmeter,parking_price,trading_ym,lat,lng
0,0,大安區,房地(土地+建物),臺北市大安區和平東路三段1巷72弄1~30號,19.39,住,2012-06-29,土地1建物2車位0,五層,十七層,...,有,有,18680000,184999.0,NaN,0.0,0,2012-06-01,25.025,121.548

In [5]:
rent591 = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/rent_591_sample.csv')
rent591.head(1)

,Unnamed: 0,detail_url,search_date,title,address,floor_info,price,layout,building_area,building_use,latitude,longitude
0,0,https://rent.591.com.tw/rent-detail-1050934.html,2017-05-14,套房出租-近東方學院(六~八月可入住),高雄市湖內區民生街,3F/3F,"4,500元/月",NaN,6.0,透天厝/獨立套房,22.878436,120.25081

In [8]:
salary = pandas.read_clipboard(sep=',')
salary.head()

   Unnamed: 0  year  salary
0           1   2.4    6600
1           2   5.5   10100
2           3   3.3    7300
3           4   0.2    5000
4           5   1.5    6100

In [10]:
import pandas
data = pandas.read_json('https://raw.githubusercontent.com/ywchiu/pyfintech/master/2330.json')
data.head()

   Adj Close  Close       Date   High    Low   Open    Volume
0      172.0  172.0 2016-07-21  172.0  170.0  171.0  33130000
1      170.0  170.0 2016-07-20  170.5  169.0  170.0  38053000
2      170.5  170.5 2016-07-19  170.5  169.0  170.5  42456000
3      169.5  169.5 2016-07-18  170.0  168.0  168.0  24749000
4      169.5  169.5 2016-07-15  169.5  169.5  169.5     41000

## 使用Python Requests 存取頁面

### 使用GET

In [11]:
import requests
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/')
res

In [13]:
#res.text

### 使用POST

In [14]:
import requests
url = 'https://www.thsrc.com.tw/tw/TimeTable/SearchResult'
payload = {
'StartStation':'977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation':'fbd828d8-b1da-4b06-a3bd-680cdca4d2cd',
'SearchDate':'2017/10/29',
'SearchTime':'11:00',
'SearchWay':'DepartureInMandarin'
}
res = requests.post(url, data = payload)
res

### 台鐵簡易查詢
- http://twtraffic.tra.gov.tw/twrail/EasySearch.aspx