## 蘋果新聞抓取

In [2]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime') 
#res.text

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'html.parser')

In [8]:
newsary = [] 
for link in soup.select('.rtddt a'):
    title = link.select('h1')[0].text
    category = link.select('h2')[0].text
    dt = link.select('time')[0].text
    url = link['href']
    newsary.append({'title':title, 'category':category, 'dt':dt, 'url':url})

In [10]:
import pandas
df  = pandas.DataFrame(newsary)
df.head()

,category,dt,title,url
0,國際,09:26,德國前總統丟工作後 被踢爆赴中國撈金(6),https://tw.news.appledaily.com/international/r...
1,地產,09:26,大膽就中！ 創造自己的巴洛克風,https://tw.finance.appledaily.com/realtime/201...
2,體育,09:24,【西甲】半場輸2球驚險扳回 貝提斯主和赫...(2),https://tw.sports.appledaily.com/realtime/2017...
3,生活,09:21,誠徵油漆工刷鐵門 她的開價讓網友怒了(262),https://tw.news.appledaily.com/life/realtime/2...
4,體育,09:13,7人得分雙位數 公牛爆冷客場大勝魔術(150),https://tw.sports.appledaily.com/realtime/2017...

## 語音小秘書

In [ ]:
! pip install gTTS

In [13]:
! pip install pygame

Collecting pygame
  Downloading pygame-1.9.3-cp36-cp36m-win_amd64.whl (4.2MB)
Installing collected packages: pygame
Successfully installed pygame-1.9.3

In [11]:
from gtts import gTTS
tts = gTTS(text='大大安安幾歲您好', lang='zh')
tts.save("hello4.mp3")

In [ ]:
from pygame import mixer
mixer.init()
import tempfile
def speak(sentence):
    with tempfile.NamedTemporaryFile(delete=True) as fp:
        tts = gTTS(text=sentence, lang='zh')
        tts.save("{}.mp3".format(fp.name))
        mixer.music.load('{}.mp3'.format(fp.name))
        mixer.music.play()
speak('今天很開心看到大家')

In [18]:
?requests.get

In [25]:
import requests
from bs4 import BeautifulSoup
def searchWiki(term):
    res = requests.get('https://zh.wikipedia.org/wiki/{}'.format(term), allow_redirects=True)
    soup = BeautifulSoup(res.text, 'html.parser')
    article = soup.select('#mw-content-text > div > p')[0].text
    return article.split('。')[0]

In [29]:
speak(searchWiki('周子瑜'))

## Numpy

In [32]:
a = [1,3,5,7,9]
a.pop()
print(a)
a.append(9)
print(a)

[1, 3, 5, 7]
[1, 3, 5, 7, 9]

In [33]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]

In [38]:
ary = []
for i in range(0, len(a)):
    ary.append(a[i] * b[i])
ary

[2, 12, 30, 56, 90]

In [39]:
[a[i] * b[i] for i in range(0, len(a))]

[2, 12, 30, 56, 90]

In [41]:
for ele in zip(a,b):
    print(ele)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [42]:
for i,j in zip(a,b):
    print(i * j)

2
12
30
56
90

In [43]:
[i*j for i,j in zip(a,b)]

[2, 12, 30, 56, 90]

In [49]:
import requests
from bs4 import BeautifulSoup
res = requests.get('https://www.104.com.tw/job/?jobno=5mw95&jobsource=n104bank1')
soup = BeautifulSoup(res.text, 'html.parser') 
dd = [ele.text.strip() for ele in soup.select('dd')]
dt = [ele.text.strip() for ele in soup.select('dt')]
#for ele in zip(dt, dd):
#    print(ele)
dict(zip(dt, dd))

{'上班地點：': '台北市信義區松仁路123號8樓\n\n\n\n\n\n\n\n地圖找工作',
 '上班時段：': '日班',
 '休假制度：': '依公司規定',
 '其他條件：': 'Qualifications\r1. 5-8 years experience in software product marketing across multiple markets in Asia-Pacific \r2. Excellent verbal and written communication skills \r3. Strong track record of cross-functional collaboration\r4. Ability to work independently and proactively, strong project management skills.\r5. You should feel comfortable with ambiguity and enjoy working at a fast-paced startup where the business is continually evolving',
 '其他：': 'Please submit your CV via Appier career website,\rhttps://www.appier.com/en/careers.html\rWe look forward to hearing from you!',
 '出差外派：': '無需出差外派',
 '可上班日：': '不限',
 '學歷要求：': '大學以上',
 '工作待遇：': '面議',
 '工作性質：': '全職',
 '工作技能：': '不拘',
 '工作經歷：': '5年以上',
 '廠商求才專線': '忘記密碼',
 '接受身份：': '上班族、外籍人士、原住民【相關法令】',
 '擅長工具：': '不拘',
 '求職服務專線': '02-2912-6104\xa0轉2',
 '科系要求：': '不拘',
 '管理責任：': '不需負擔管理責任',
 '聯絡人：': '陳小姐',
 '職務類別：': '行銷企劃主管、產品企劃主管 \n\n\n\n\n\n\n認識「」職務\n\n詳細職類分析(工作內容、薪資分布..)\n更多相關工作',
 '語文條件：': '英文 -- 聽 /精通、說 /精通、讀 /精通、寫 /精通',
 '需求人數：': '1 人'}

In [53]:
import numpy 
a = [1,3,5,7,9]
b = [2,4,6,8,10]
na = numpy.array(a)
nb = numpy.array(b)
na * nb
na + nb

array([ 3,  7, 11, 15, 19])

In [55]:
import numpy as np
na = np.array([1,2,3,4,5])
na
type(na)

numpy.ndarray

In [57]:
na[0]

1

In [58]:
na[1:3]

array([2, 3])

In [60]:
na > 3

array([False, False, False,  True,  True], dtype=bool)

In [61]:
na[na > 3]

array([4, 5])

In [62]:
na=np.array([[1,2,3,4,5],[6,7,8,9,10]])

In [63]:
na

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [65]:
na[:,0]

array([1, 6])

In [66]:
na[0,:]

array([1, 2, 3, 4, 5])

In [67]:
na.T

array([[ 1,  6],
       [ 2,  7],
       [ 3,  8],
       [ 4,  9],
       [ 5, 10]])

In [68]:
na=np.array([['frank','M',29],['mary','F',23],['tom','M',35],['ted','M',33],['jean','F',21],['lisa','F',20]])
na

array([['frank', 'M', '29'],
       ['mary', 'F', '23'],
       ['tom', 'M', '35'],
       ['ted', 'M', '33'],
       ['jean', 'F', '21'],
       ['lisa', 'F', '20']],
      dtype='<U5')

In [69]:
import pandas
df = pandas.DataFrame([['frank','M',29],['mary','F',23],['tom','M',35],['ted','M',33],['jean','F',21],['lisa','F',20]])

In [71]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [72]:
df.columns = ['name', 'gender', 'age']

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
name      6 non-null object
gender    6 non-null object
age       6 non-null int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [75]:
df.loc[1:3,['name', 'gender']]

   name gender
1  mary      F
2   tom      M
3   ted      M