## 字詞統計 (Obama 就職演說)
- https://github.com/ywchiu/tibamepy/blob/master/data/obama.txt

In [2]:
print('hello\nworld')

hello
world

In [3]:
print(r'hello\nworld')

hello\nworld

In [15]:
a= ['a', 'b', 'c', 'a', 'c']
dic = {}
for w in a:
    if w not in dic:
        dic[w] = 1
    else:
        dic[w] = dic[w] + 1
print(dic)
    
#'d' not in a

{'a': 2, 'b': 1, 'c': 2}

### 方法一

In [22]:
stopwords = ["a", "about", "above", "above", "across", "after", "afterwards", "again", "against", "all", "almost", "alone", "along", "already", "also","although","always","am","among", "amongst", "amoungst", "amount",  "an", "and", "another", "any","anyhow","anyone","anything","anyway", "anywhere", "are", "around", "as",  "at", "back","be","became", "because","become","becomes", "becoming", "been", "before", "beforehand", "behind", "being", "below", "beside", "besides", "between", "beyond", "bill", "both", "bottom","but", "by", "call", "can", "cannot", "cant", "co", "con", "could", "couldnt", "cry", "de", "describe", "detail", "do", "done", "down", "due", "during", "each", "eg", "eight", "either", "eleven","else", "elsewhere", "empty", "enough", "etc", "even", "ever", "every", "everyone", "everything", "everywhere", "except", "few", "fifteen", "fify", "fill", "find", "fire", "first", "five", "for", "former", "formerly", "forty", "found", "four", "from", "front", "full", "further", "get", "give", "go", "had", "has", "hasnt", "have", "he", "hence", "her", "here", "hereafter", "hereby", "herein", "hereupon", "hers", "herself", "him", "himself", "his", "how", "however", "hundred", "ie", "if", "in", "inc", "indeed", "interest", "into", "is", "it", "its", "itself", "keep", "last", "latter", "latterly", "least", "less", "ltd", "made", "many", "may", "me", "meanwhile", "might", "mill", "mine", "more", "moreover", "most", "mostly", "move", "much", "must", "my", "myself", "name", "namely", "neither", "never", "nevertheless", "next", "nine", "no", "nobody", "none", "noone", "nor", "not", "nothing", "now", "nowhere", "of", "off", "often", "on", "once", "one", "only", "onto", "or", "other", "others", "otherwise", "our", "ours", "ourselves", "out", "over", "own","part", "per", "perhaps", "please", "put", "rather", "re", "same", "see", "seem", "seemed", "seeming", "seems", "serious", "several", "she", "should", "show", "side", "since", "sincere", "six", "sixty", "so", "some", "somehow", "someone", "something", "sometime", "sometimes", "somewhere", "still", "such", "system", "take", "ten", "than", "that", "the", "their", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "therefore", "therein", "thereupon", "these", "they", "thickv", "thin", "third", "this", "those", "though", "three", "through", "throughout", "thru", "thus", "to", "together", "too", "top", "toward", "towards", "twelve", "twenty", "two", "un", "under", "until", "up", "upon", "us", "very", "via", "was", "we", "well", "were", "what", "whatever", "when", "whence", "whenever", "where", "whereafter", "whereas", "whereby", "wherein", "whereupon", "wherever", "whether", "which", "while", "whither", "who", "whoever", "whole", "whom", "whose", "why", "will", "with", "within", "without", "would", "yet", "you", "your", "yours", "yourself", "yourselves", "the"]

In [4]:
with open('C://Users//USER//Desktop//obama.txt', 'r') as f:
    speech = f.read()

In [26]:
dic = {}
words = speech.lower().split()
for w in words:
    if w not in stopwords:
        if w not in dic:
            dic[w] = 1
        else:
            dic[w] = dic[w] + 1

In [27]:
import operator
swd = sorted(dic.items(), key = operator.itemgetter(1), reverse=True)

In [32]:
for key,val in swd[0:10]:
    #key, val = rec
    print(key, val)

-- 16
nation 10
us, 9
new 9
common 6
let 6
know 5
time 5
people 5
america 4

### 方法二
- https://docs.python.org/3/library/collections.html

In [33]:
stopwords = ["a", "about", "above", "above", "across", "after", "afterwards", "again", "against", "all", "almost", "alone", "along", "already", "also","although","always","am","among", "amongst", "amoungst", "amount",  "an", "and", "another", "any","anyhow","anyone","anything","anyway", "anywhere", "are", "around", "as",  "at", "back","be","became", "because","become","becomes", "becoming", "been", "before", "beforehand", "behind", "being", "below", "beside", "besides", "between", "beyond", "bill", "both", "bottom","but", "by", "call", "can", "cannot", "cant", "co", "con", "could", "couldnt", "cry", "de", "describe", "detail", "do", "done", "down", "due", "during", "each", "eg", "eight", "either", "eleven","else", "elsewhere", "empty", "enough", "etc", "even", "ever", "every", "everyone", "everything", "everywhere", "except", "few", "fifteen", "fify", "fill", "find", "fire", "first", "five", "for", "former", "formerly", "forty", "found", "four", "from", "front", "full", "further", "get", "give", "go", "had", "has", "hasnt", "have", "he", "hence", "her", "here", "hereafter", "hereby", "herein", "hereupon", "hers", "herself", "him", "himself", "his", "how", "however", "hundred", "ie", "if", "in", "inc", "indeed", "interest", "into", "is", "it", "its", "itself", "keep", "last", "latter", "latterly", "least", "less", "ltd", "made", "many", "may", "me", "meanwhile", "might", "mill", "mine", "more", "moreover", "most", "mostly", "move", "much", "must", "my", "myself", "name", "namely", "neither", "never", "nevertheless", "next", "nine", "no", "nobody", "none", "noone", "nor", "not", "nothing", "now", "nowhere", "of", "off", "often", "on", "once", "one", "only", "onto", "or", "other", "others", "otherwise", "our", "ours", "ourselves", "out", "over", "own","part", "per", "perhaps", "please", "put", "rather", "re", "same", "see", "seem", "seemed", "seeming", "seems", "serious", "several", "she", "should", "show", "side", "since", "sincere", "six", "sixty", "so", "some", "somehow", "someone", "something", "sometime", "sometimes", "somewhere", "still", "such", "system", "take", "ten", "than", "that", "the", "their", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "therefore", "therein", "thereupon", "these", "they", "thickv", "thin", "third", "this", "those", "though", "three", "through", "throughout", "thru", "thus", "to", "together", "too", "top", "toward", "towards", "twelve", "twenty", "two", "un", "under", "until", "up", "upon", "us", "very", "via", "was", "we", "well", "were", "what", "whatever", "when", "whence", "whenever", "where", "whereafter", "whereas", "whereby", "wherein", "whereupon", "wherever", "whether", "which", "while", "whither", "who", "whoever", "whole", "whom", "whose", "why", "will", "with", "within", "without", "would", "yet", "you", "your", "yours", "yourself", "yourselves", "the"]

In [34]:
with open('C://Users//USER//Desktop//obama.txt', 'r') as f:
    speech = f.read()

In [38]:
from collections import Counter
words = []
for w in speech.lower().split():
    if w not in stopwords:
        words.append(w)
c = Counter(words)
c.most_common(10)

[('--', 16),
 ('nation', 10),
 ('us,', 9),
 ('new', 9),
 ('common', 6),
 ('let', 6),
 ('know', 5),
 ('time', 5),
 ('people', 5),
 ('america', 4)]

### 方法三

In [41]:
a = [2,3,6,9,1,8,5]
ary = []
for ele in a:
    if ele < 5:
        ary.append(ele)
ary

[2, 3, 1]

In [42]:
[ele for ele in a if ele < 5]

[2, 3, 1]

In [44]:
with open('C://Users//USER//Desktop//obama.txt') as f:
    speech = f.read()

In [45]:
from collections import Counter
words = [w for w in speech.lower().split() if w not in stopwords]
c = Counter(words)
c.most_common(10)

[('--', 16),
 ('nation', 10),
 ('us,', 9),
 ('new', 9),
 ('common', 6),
 ('let', 6),
 ('know', 5),
 ('time', 5),
 ('people', 5),
 ('america', 4)]

## 中文斷詞

In [46]:
! pip install jieba

Collecting jieba
  Downloading jieba-0.39.zip (7.3MB)
Building wheels for collected packages: jieba
  Running setup.py bdist_wheel for jieba: started
  Running setup.py bdist_wheel for jieba: finished with status 'done'
  Stored in directory: C:\Users\USER\AppData\Local\pip\Cache\wheels\ce\32\de\c2be1db5f30804bc7f146ff698c52963f8aa11ba5049811b0d
Successfully built jieba
Installing collected packages: jieba
Successfully installed jieba-0.39

### 分析蔡英文就職演說
- https://github.com/ywchiu/tibamepy/blob/master/data/president.txt

In [48]:
import jieba
jieba.add_word('蔡英文')
jieba.add_word('就職')
for w in jieba.cut('蔡英文就職演說全文'):
    print(w)

蔡英文
就職
演說
全文

In [49]:
with open('C://Users/USER/Desktop//president.txt', 'r') as f:
    speech = f.read()

In [58]:
from collections import Counter
c = Counter([w for w in jieba.cut(speech)])
for word,cnt in c.most_common(50):
    if len(word) >=2:
        print(word, cnt)

我們 85
台灣 39
國家 28
新政府 27
經濟 26
這個 24
一個 24
民主 22
發展 20
社會 19
人民 18
就是 18
共同 15
未來 15
改革 15
議題 14
司法 13
區域 11
政府 10
合作 10
和平 9
必須 9

## 讓電腦講話

In [59]:
! pip install gTTS

Collecting gTTS
  Downloading gTTS-1.2.2.tar.gz
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from gTTS)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from gTTS)
Collecting gtts_token (from gTTS)
  Downloading gTTS-token-1.1.1.zip
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->gTTS)
Requirement already satisfied: idna<2.7,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->gTTS)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->gTTS)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->gTTS)
Building wheels for collected packages: gTTS, gtts-token
  Running setup.py bdist_wheel for gTTS: started
  Running setup.py bdist_wheel for gTTS: finished with status 'done'
  Stored in directory: C:\Users\USER\AppData\Local\pip\Cache\wheels\ef\e7\2e\066d7be1514f7c7fd6c942f4d09ae5460f9a3125829782d03d
  Running setup.py bdist_wheel for gtts-token: started
  Running setup.py bdist_wheel for gtts-token: finished with status 'done'
  Stored in directory: C:\Users\USER\AppData\Local\pip\Cache\wheels\a9\19\5d\2abe941153d0331bb7c2fbcd48ed8c36a67ca1d40bd572773e
Successfully built gTTS gtts-token
Installing collected packages: gtts-token, gTTS
Successfully installed gTTS-1.2.2 gtts-token-1.1.1

In [67]:
! pip install pygame

Collecting pygame
  Downloading pygame-1.9.3-cp36-cp36m-win_amd64.whl (4.2MB)
Installing collected packages: pygame
Successfully installed pygame-1.9.3

In [69]:
from gtts import gTTS
from pygame import mixer
import tempfile

mixer.init()

def speak(sentence):
    with tempfile.NamedTemporaryFile(delete=True) as fp:
        tts = gTTS(text=sentence, lang='zh')
        tts.save("{}.mp3".format(fp.name))
        mixer.music.load('{}.mp3'.format(fp.name))
        mixer.music.play()
        
speak('我們進到下一個課程吧')

## 使用Pandas 讀取結構化與非結構化資料

In [70]:
import pandas

In [76]:
## 讀取 Excel
# - https://github.com/ywchiu/tibamepy/blob/master/data/stock.xlsx
stock = pandas.read_excel('C://Users//USER//Desktop//stock.xlsx')
stock.describe()

,id,年度,股本,財報評分,營業收入,營業毛利,營業利益,稅後淨利,ROE,ROA,稅後EPS,stockid
count,6753.000000,6753.000000,6753.000000,6753.000000,6753.000000,6753.000000,6753.000000,6753.000000,6753.000000,6753.000000,6753.000000,6753.000000
mean,706.298682,2008.213239,96.254445,45.958389,320.276841,53.351540,22.002630,18.111401,5.751599,3.753055,1.943761,2127.809862
std,479.368400,4.581007,224.022412,13.544027,1436.320384,202.286943,139.373511,95.252585,21.327577,8.073633,14.142786,551.763198
min,1.000000,1999.000000,0.000000,10.000000,-48.800000,-363.000000,-577.000000,-613.000000,-940.000000,-107.000000,-18.790000,1101.000000
25%,289.000000,2005.000000,13.900000,37.000000,24.200000,3.870000,0.310000,0.360000,1.270000,0.520000,0.170000,1568.000000
50%,647.000000,2009.000000,28.200000,45.000000,61.000000,10.600000,2.870000,2.530000,6.770000,3.450000,1.080000,2329.000000
75%,1074.000000,2012.000000,64.100000,53.000000,178.000000,30.200000,10.500000,9.520000,13.300000,7.150000,2.470000,2489.000000
max,1923.000000,2015.000000,2643.000000,100.000000,44821.000000,6830.000000,6317.000000,3066.000000,132.000000,107.000000,954.000000,3038.000000

In [78]:
## 讀取 csv
salary = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/salary.csv')
salary.head()

   Unnamed: 0  year  salary
0           1   2.4    6600
1           2   5.5   10100
2           3   3.3    7300
3           4   0.2    5000
4           5   1.5    6100

In [83]:
import pandas
stock2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')

In [84]:
stock2330

   Adj Close  Close       Date   High    Low   Open    Volume
0      172.0  172.0 2016-07-21  172.0  170.0  171.0  33130000
1      170.0  170.0 2016-07-20  170.5  169.0  170.0  38053000
2      170.5  170.5 2016-07-19  170.5  169.0  170.5  42456000
3      169.5  169.5 2016-07-18  170.0  168.0  168.0  24749000
4      169.5  169.5 2016-07-15  169.5  169.5  169.5     41000

In [85]:
stock2330.to_excel('2330_tw.xlsx')

In [86]:
stock2330.to_clipboard()

## 網路爬蟲

### 使用Python Requests 取得頁面內容

In [105]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')

In [110]:
type(res)
#res.text

requests.models.Response

In [91]:
import requests

url = 'https://www.thsrc.com.tw/tw/TimeTable/SearchResult'
payload = {
'StartStation':'977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation':'60831846-f0e4-47f6-9b5b-46323ebdcef7',
'SearchDate':'2018/02/03',
'SearchTime':'18:00',
'SearchWay':'DepartureInMandarin'
}
res = requests.post(url, data= payload)

In [93]:
#res.text

### 尋找字串

In [96]:
import re
a  = '光泉23123412330ML'
re.search('(\d+ML)', a)

In [98]:
a = '我愛中華, 中華愛我'
a.find('中華')

2

In [104]:
import re
for b in re.finditer('中華', a):
    print(b)

<_sre.SRE_Match object; span=(2, 4), match='中華'>
<_sre.SRE_Match object; span=(6, 8), match='中華'>

### 資料剖析
- http://beautifulsoup.readthedocs.io/zh_CN/latest/

In [108]:
from bs4 import BeautifulSoup
html_sample = '''
<html> 
<body> 
<h1 id="title">Hello World</h1> 
<a href="#" class="link">This is link1</a> 
<a href="# link2" class="link">This is link2</a> 
</body> 
</html>'''

soup = BeautifulSoup(html_sample, 'lxml')

In [111]:
type(soup)

bs4.BeautifulSoup

In [109]:
soup.text

'\n\nHello World\nThis is link1\nThis is link2\n\n'

In [113]:
soup.select_one('h1')

In [115]:
soup.select_one('h1').text

'Hello World'

In [114]:
soup.select('h1')

In [118]:
soup.select('h1')[0]

In [119]:
soup.select('h1')[0].text

'Hello World'

In [120]:
soup.select_one('a')

In [121]:
soup.select_one('a').text

'This is link1'

In [122]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [123]:
soup.select('a')[0].text

'This is link1'

In [124]:
soup.select('a')[1].text

'This is link2'

### 根據CSS屬性存取資料
- id    => #    ; e.g.    id='title' => #title
- class => .    ; e.g. class='link'  => .link

In [125]:
# id = title
soup.select_one('#title')

In [126]:
# class = link
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [127]:
# " " 抓取下一層
# 抓取 body 下屬性為id=title的 h1
soup.select_one('body h1#title')

In [129]:
# 抓取 body 下屬性為class=link的 a
soup.select('body a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [136]:
for alink in soup.select('body a.link'):
    #print(alink.text)
    #print(alink['href'])
    print(alink.get('href'))

#
# link2

In [134]:
l = '<a class="link" href="# link2" data=123 qoo=oop>This is link2</a>'
s = BeautifulSoup(l, 'lxml')
s.select_one('a')['qoo']
s.select_one('a')['data']

'123'

## 抓取蘋果頁面資料

In [137]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')

In [139]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [152]:
for news in soup.select('.rtddt a'):
    #print(news)
    title     = news.select_one('h1').text
    category  = news.select_one('h2').text
    dt        = news.select_one('time').text
    link      = news['href']
    print(link)
    #print(title, category, dt, link)
    #print('===============================')

https://tw.news.appledaily.com/local/realtime/20180203/1291400/
https://tw.news.appledaily.com/local/realtime/20180203/1291398/
https://tw.sports.appledaily.com/realtime/20180203/1291421/
https://tw.news.appledaily.com/international/realtime/20180203/1291308/
https://tw.entertainment.appledaily.com/realtime/20180203/1291367/
https://tw.news.appledaily.com/life/realtime/20180203/1291396/
https://tw.news.appledaily.com/life/realtime/20180203/1291376/
https://tw.news.appledaily.com/life/realtime/20180203/1291393/
https://tw.news.appledaily.com/life/realtime/20180203/1291410/
https://tw.news.appledaily.com/local/realtime/20180203/1291408/
https://tw.finance.appledaily.com/realtime/20180203/1287900/
https://tw.news.appledaily.com/local/realtime/20180203/1291406/
https://tw.news.appledaily.com/local/realtime/20180203/1291379/
https://tw.news.appledaily.com/international/realtime/20180203/1291266/
https://tw.news.appledaily.com/forum/realtime/20180203/1291405/
https://tw.lifestyle.appledaily.com/lifestyle/realtime/20180203/1291386/
https://tw.sports.appledaily.com/realtime/20180203/1291403/
https://tw.news.appledaily.com/international/realtime/20180203/1291255/
https://tw.news.appledaily.com/international/realtime/20180203/1291375/
https://tw.news.appledaily.com/life/realtime/20180203/1291394/
https://tw.entertainment.appledaily.com/realtime/20180203/1291056/
https://tw.news.appledaily.com/life/realtime/20180203/1291333/
https://tw.news.appledaily.com/local/realtime/20180203/1291397/
https://tw.news.appledaily.com/local/realtime/20180203/1291348/
https://tw.news.appledaily.com/politics/realtime/20180203/1291395/
https://tw.news.appledaily.com/politics/realtime/20180203/1291390/
https://tw.news.appledaily.com/life/realtime/20180203/1291264/
https://tw.news.appledaily.com/life/realtime/20180203/1291294/
https://tw.news.appledaily.com/local/realtime/20180203/1291380/
https://tw.news.appledaily.com/local/realtime/20180203/1291334/

## 抓取圖片

In [153]:
import requests
res = requests.get('https://img.appledaily.com.tw/images/ReNews/20180203/640_fd5d42a3fbb817381133ad565d53b2b9.jpg')
with open('bear.jpg', 'wb') as f:
    f.write(res.content)

## 抓取內容頁

In [155]:
import requests
res = requests.get('https://tw.news.appledaily.com/local/realtime/20180203/1291400/')

In [156]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [160]:
soup.select_one('h1').text

'日本熊本熊在基隆\u3000民眾騷動搶拍照'

In [161]:
soup.select_one('.ndArticle_margin p').text

'日本熊本縣南物產展從今天起連續2天，在基隆市舊火車站展出，包含許多特色小吃、塌塌米展示、日式浴衣試穿活動等等，其中，最受民眾歡迎的就是吉祥物熊本熊，今天的開幕式中，大小朋友一看到熊本熊，尖叫聲不斷，熊本熊舉手投足之間，都逗得民眾哈哈大笑。另外還有民謠、劍道等表演。\xa0基隆市長林右昌在開幕式時表示，基隆市與這次參展的熊本縣八代市有深厚情誼，除了民間團體互有往來，預計在今年4月份基隆市與八代市將正式締結好友城市，相信在未來，不管是文化、經濟各方面都能有長足的進步。（突發中心戴之聖／基隆報導）看了這則新聞的人，也看了……攤販賣菜攏是假！\u3000檯面青菜檯下賣毒運將躲隧道療情傷\u3000暖警：註定來救你救護車路口被撞翻\u30002消防員和病患同就醫'

In [163]:
soup.select_one('.ndArticle_creat').text

'出版時間：2018/02/03 14:37'

In [165]:
soup.select_one('.ndArticle_view').text

'487'

In [168]:
soup.select_one('.ndgTag .current').text

'社會'

In [175]:
def parseArticle(url):
    ret = {}
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    ret['title']    = soup.select_one('h1').text
    ret['content']  = soup.select_one('.ndArticle_margin p').text
    ret['dt']       = soup.select_one('.ndArticle_creat').text
    ret['viewcnt']  = int(soup.select_one('.ndArticle_view').text) \
                   if soup.select_one('.ndArticle_view') else 0
    ret['category'] =soup.select_one('.ndgTag .current').text
    return ret

In [170]:
parseArticle('https://tw.news.appledaily.com/local/realtime/20180203/1291400/')

{'category': '社會',
 'content': '日本熊本縣南物產展從今天起連續2天，在基隆市舊火車站展出，包含許多特色小吃、塌塌米展示、日式浴衣試穿活動等等，其中，最受民眾歡迎的就是吉祥物熊本熊，今天的開幕式中，大小朋友一看到熊本熊，尖叫聲不斷，熊本熊舉手投足之間，都逗得民眾哈哈大笑。另外還有民謠、劍道等表演。\xa0基隆市長林右昌在開幕式時表示，基隆市與這次參展的熊本縣八代市有深厚情誼，除了民間團體互有往來，預計在今年4月份基隆市與八代市將正式締結好友城市，相信在未來，不管是文化、經濟各方面都能有長足的進步。（突發中心戴之聖／基隆報導）看了這則新聞的人，也看了……攤販賣菜攏是假！\u3000檯面青菜檯下賣毒運將躲隧道療情傷\u3000暖警：註定來救你救護車路口被撞翻\u30002消防員和病患同就醫',
 'dt': '出版時間：2018/02/03 14:37',
 'title': '日本熊本熊在基隆\u3000民眾騷動搶拍照',
 'viewcnt': '594'}

In [171]:
parseArticle('https://tw.news.appledaily.com/local/realtime/20180203/1291441/')

{'category': '社會',
 'content': '有種植大麻前科謝姓（49歲）男子，日前重操舊業，在桃園大溪山區裡種植大麻，再將大麻葉帶回八德租屋蔭乾，警方鎖定謝男，日前跟蹤他到偏僻山區裡，查獲165株大麻，他供稱，利用比特幣從英國購買種子，種植山區，規避查緝，沒想到還是栽在警方手裡。\xa0警方獲報，謝男經常出入山區，懷疑他另起爐灶，經多日跟間埋伏，發現他在大溪偏僻山區裡租屋，種植大麻，採收的大麻葉，帶回八德租屋處蔭乾。\xa0桃園分局偵查隊幹員日前進入山區埋伏，發現謝男等人座車，當場掏槍壓制，逮捕謝男及車上廖男（21歲）、邱男（25歲），並從謝男租屋處裡查獲165株大麻，謝男坦承以比特幣從英國購買種子，種植山區。廖、邱2男供稱，他們不知情，當天只是跟謝男前往山區。\xa0警方訊後將謝男等人依毒品罪嫌移送偵辦，謝男聲押獲准，廖、邱2人分別1萬元交保，警方將擴大追查大麻流向。（突發中心石明啟／桃園報導）看了這則新聞的人，也看了……日本熊本熊在基隆\u3000民眾騷動搶拍照鐵漢柔情苦心勸\u3000街友終肯接受收容避風寒\u200b查獲迷你改造手槍\u3000警稱：「口袋藏大砲」  ',
 'dt': '出版時間：2018/02/03 15:16',
 'title': '比特幣買大麻種子\u3000165 株種植山區',
 'viewcnt': '196'}

In [177]:
parseArticle('https://tw.news.appledaily.com/life/realtime/20180203/1291449/')

{'category': '生活',
 'content': '這波寒流來襲，桃園拉拉山已降下冰霰，因目前台7線高山路段（下巴陵至明池），氣溫仍持續下探，根據中央氣象局資料，預估至明天（2月4日）凌晨氣溫將降至攝氏零度，該路段路面可能出現結冰積雪情形，公路總局第一區養護工程處預定於3日夜間19時至4日早上7時進行預警性封路作業。\xa0預定封閉路段為台7線47k(下巴陵)至60k+776（西村），隔日早上7時開放通行時，將協同警方現場管制前往明池方向車輛，為確保用路人安全，有加掛雪鏈之4輪以上車輛，白天方可進入該路段。\xa0公路總局第一區養護工程處提醒用路人，低溫特報期間避免行駛山區公路、隨時收聽警廣、並注意可變資訊看板（CMS）所顯示之交通管制及訊息，出遊民眾，請選擇於白天行駛山區道路。轄管省道如有路面結冰現象，白天將進行道路管制通行，僅通行加掛雪鏈之4輪以上車輛，夜間19時至隔日7時禁止通行。民眾查詢最新路況，可撥打：1968或0800001821。（突發中心黎百代／桃園報導）\xa0\xa0看了這則新聞的人，也看了……質疑土地鑑界不實\u3000務農男腰插鐮刀衝地政所\u200b工人吊掛鋼鐵\u3000不慎失足摔落慘死日本熊本熊在基隆\u3000民眾騷動搶拍照',
 'dt': '出版時間：2018/02/03 15:39',
 'title': '北橫台七線高山段路面恐結冰\u3000今晚7時起封路',
 'viewcnt': 0}

## 抓取列表頁所有新聞

In [179]:
import requests
from bs4 import BeautifulSoup
res = requests.get('https://tw.appledaily.com/new/realtime')
soup = BeautifulSoup(res.text, 'lxml') 
ary  = []
for news in soup.select('.rtddt a'):
    ary.append(parseArticle(news['href']))

In [184]:
ary[3]

{'category': '國際',
 'content': '在台灣因寒流來襲，各地冷颼颼的同時，中國東北也迎來寒冷天氣。但就在漫天風雪下，吉林長春卻出現一對新人，在颯颯寒風中穿著無袖晚禮服拍攝婚紗照。當時室外氣溫達到零下約16度，還不時伴有雪花飄落。這對新人無懼嚴寒天氣，在一處公園旁伴著雪景拍攝婚紗照。新人拍照時所穿的衣服特別單薄，與路邊行人穿著的厚厚棉服形成鮮明對比。據新郎介紹，因為兩人都非常希望能有一套雪中的婚紗照，所以選擇這樣一個有雪的日子出來拍攝。（大陸中心／綜合報導）',
 'dt': '出版時間：2018/02/03 15:35',
 'title': '-16度穿無袖禮服拍婚紗照\u3000長春新人美麗凍人',
 'viewcnt': 0}

## 抓取所有圖片

In [186]:
url = 'https://img.appledaily.com.tw/images/ReNews/20180203/640_d3cd3f3985da876949573bdb5da8a548.jpg'
url.split('/')[-1]

'640_d3cd3f3985da876949573bdb5da8a548.jpg'

In [190]:
def parseImage(url):
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    for img in soup.select('.ndArticle_margin img'):
        imgurl = img['src']
        res2 = requests.get(imgurl)
        with open(imgurl.split('/')[-1], 'wb') as f:
            f.write(res2.content)

In [191]:
import requests
from bs4 import BeautifulSoup
res = requests.get('https://tw.appledaily.com/new/realtime')
soup = BeautifulSoup(res.text, 'lxml') 

for news in soup.select('.rtddt a'):
    parseImage(news['href'])