## 自由時報爬蟲

In [1]:
import requests
res = requests.get('http://news.ltn.com.tw/list/breakingnews')
res

In [3]:
#res.text

In [4]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

### Example
````
<ul class="list imm">
<li>...</li>
</ul>

````

#### CSS Selector
- http://www.w3school.com.cn/css/css_selector_attribute.asp

In [8]:
#soup.select('ul.list.imm li')
#soup.select('ul.imm li')
#soup.select('.imm li')

In [28]:
newsary = []
for news in soup.select('.imm li'):
    #print(news)
    title = news.select_one('.tit p').text.strip()
    dt    = news.select_one('.tit span').text.strip()
    link  = news.select_one('a.tit').get('href')
    #category = news.select('.tagarea a')
    #tag_ary = []
    #for c in category:
    #    tag_ary.append(c.text)
    category = ','.join([c.text for c in news.select('.tagarea a')])
    
    newsdic = {'title':title, 'dt':dt, 'link':link, 'category':category}
    newsary.append(newsdic)
    #print('==========================')

In [30]:
import pandas
df = pandas.DataFrame(newsary)

In [32]:
df.to_excel('ltn_news.xlsx')

## Numpy

In [33]:
a = [1,2,3,4,5,'S']

In [34]:
b = [2,3,4,5,6,7]

In [35]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]

In [37]:
len(a)

5

In [40]:
res = []
for i in range(0, len(a)):
    res.append(a[i] * b[i])

In [41]:
res

[2, 12, 30, 56, 90]

In [45]:
[a[i] * b[i] for i in range(0, len(a))]

[2, 12, 30, 56, 90]

In [46]:
zip(a,b)

In [48]:
for rec in zip(a,b):
    print(rec)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [49]:
for i,j in zip(a,b):
    print(i,j)

1 2
3 4
5 6
7 8
9 10

In [50]:
for i,j in zip(a,b):
    print(i * j)

2
12
30
56
90

In [51]:
res = []
for i,j in zip(a,b):
    res.append(i * j)
res

[2, 12, 30, 56, 90]

In [52]:
[i * j for i,j in zip(a,b)]

[2, 12, 30, 56, 90]

In [53]:
a

[1, 3, 5, 7, 9]

In [54]:
type(a)

list

In [55]:
import numpy 
na = numpy.array(a)
na

array([1, 3, 5, 7, 9])

In [56]:
type(na)

numpy.ndarray

In [57]:
nb = numpy.array(b)
nb

array([ 2,  4,  6,  8, 10])

In [58]:
nc = na * nb

In [59]:
nc

array([ 2, 12, 30, 56, 90])

In [63]:
na + nb
na - nb
na * nb
na / nb

array([0.5       , 0.75      , 0.83333333, 0.875     , 0.9       ])

In [64]:
import numpy as np
na = np.array([1, 2, 3, 4, 5])
na

array([1, 2, 3, 4, 5])

In [66]:
na[0]

1

In [67]:
na[-1]

5

In [68]:
na[1:3]

array([2, 3])

In [70]:
a
[c for c in a if c >3]

[5, 7, 9]

In [72]:
na > 3

array([False, False, False,  True,  True])

In [73]:
na[na > 3]

array([4, 5])

In [74]:
na = np.array([[1, 2, 3, 4, 5],
[6, 7, 8, 9, 10]])

In [75]:
na

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [76]:
na[0, 0]

1

In [77]:
na[0, :]

array([1, 2, 3, 4, 5])

In [78]:
na[:, 0]

array([1, 6])

In [79]:
na.T

array([[ 1,  6],
       [ 2,  7],
       [ 3,  8],
       [ 4,  9],
       [ 5, 10]])

In [80]:
na = np.array([['frank', 'M', 29], ['mary', 'F', 23], ['tom', 'M',35], ['ted', 'M', 33], ['jean', 'F', 21], ['lisa', 'F', 20]])

In [81]:
na

array([['frank', 'M', '29'],
       ['mary', 'F', '23'],
       ['tom', 'M', '35'],
       ['ted', 'M', '33'],
       ['jean', 'F', '21'],
       ['lisa', 'F', '20']], dtype='<U5')

In [82]:
na = np.array([ ['name', 'gender', 'age'],  ['frank', 'M', 29], ['mary', 'F', 23], ['tom', 'M',35], ['ted', 'M', 33], ['jean', 'F', 21], ['lisa', 'F', 20]])
na

array([['name', 'gender', 'age'],
       ['frank', 'M', '29'],
       ['mary', 'F', '23'],
       ['tom', 'M', '35'],
       ['ted', 'M', '33'],
       ['jean', 'F', '21'],
       ['lisa', 'F', '20']], dtype='<U6')

In [85]:
import pandas
df = pandas.DataFrame([['frank', 'M', 29], ['mary', 'F', 23], ['tom', 'M',35], ['ted', 'M', 33], ['jean', 'F', 21], ['lisa', 'F', 20]])
df

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [87]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [88]:
df.columns = ['name', 'gender', 'age']

In [89]:
df

    name gender  age
0  frank      M   29
1   mary      F   23
2    tom      M   35
3    ted      M   33
4   jean      F   21
5   lisa      F   20

## Pandas Series

In [90]:
a = [21000, 18900, 18000]
a

[21000, 18900, 18000]

In [91]:
type(a)

list

In [93]:
import numpy as np
na = np.array(a)
na

array([21000, 18900, 18000])

In [95]:
type(na)

numpy.ndarray

In [96]:
import pandas as pd
pa = pd.Series(a)
pa

0    21000
1    18900
2    18000
dtype: int64

In [97]:
type(pa)

pandas.core.series.Series

In [98]:
pa = pd.Series([21000, 18900, 18000], index =
['Iphone', 'Edge S7', 'HTC M1'])

In [99]:
pa

Iphone     21000
Edge S7    18900
HTC M1     18000
dtype: int64

In [100]:
s = pd.Series({'Iphone':21000,'Edge S7':18900,'HTC M1':18000})
s

Iphone     21000
Edge S7    18900
HTC M1     18000
dtype: int64

In [101]:
s[2]

18000

In [103]:
s[1:3]

Edge S7    18900
HTC M1     18000
dtype: int64

In [104]:
s['Iphone']

21000

In [106]:
s[['Iphone', 'Edge S7']]

Iphone     21000
Edge S7    18900
dtype: int64

In [107]:
s

Iphone     21000
Edge S7    18900
HTC M1     18000
dtype: int64

In [108]:
s < 20000

Iphone     False
Edge S7     True
HTC M1      True
dtype: bool

In [109]:
s[s<20000]

Edge S7    18900
HTC M1     18000
dtype: int64

In [111]:
s['Iphone'] = 20000

In [112]:
s

Iphone     20000
Edge S7    18900
HTC M1     18000
dtype: int64

In [115]:
s[s< 20000] * 0.8

Edge S7    15120.0
HTC M1     14400.0
dtype: float64

In [116]:
s[s<20000] = s[s< 20000] * 0.8

In [117]:
s

Iphone     20000
Edge S7    15120
HTC M1     14400
dtype: int64

In [120]:
'Iphone' in s

True

In [121]:
'mi' in s

False

In [122]:
s

Iphone     20000
Edge S7    15120
HTC M1     14400
dtype: int64

In [123]:
s * 0.8

Iphone     16000.0
Edge S7    12096.0
HTC M1     11520.0
dtype: float64

In [124]:
np.sqrt(s)

Iphone     141.421356
Edge S7    122.963409
HTC M1     120.000000
dtype: float64

In [125]:
s

Iphone     20000
Edge S7    15120
HTC M1     14400
dtype: int64

In [126]:
s.max()

20000

In [127]:
s.mean()

16506.666666666668

In [128]:
s.describe()

count        3.000000
mean     16506.666667
std       3046.659373
min      14400.000000
25%      14760.000000
50%      15120.000000
75%      17560.000000
max      20000.000000
dtype: float64

In [129]:
s[['Iphone', 'HTC M1']]

Iphone    20000
HTC M1    14400
dtype: int64

In [130]:
s[['mi', 'HTC M1']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:850: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

mi            NaN
HTC M1    14400.0
dtype: float64

In [131]:
s[['Iphone', 'HTC M1']]  + s[['mi', 'HTC M1']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:850: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

HTC M1    28800.0
Iphone        NaN
mi            NaN
dtype: float64

In [132]:
s2 = s[['Iphone', 'HTC M1']]  + s[['mi', 'HTC M1']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:850: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

In [134]:
s2.isnull()

HTC M1    False
Iphone     True
mi         True
dtype: bool

In [135]:
s2.notnull()

HTC M1     True
Iphone    False
mi        False
dtype: bool