## Pandas

In [1]:
import pandas
stock = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/stock.xlsx')

In [3]:
stock.head()

,id,年度,股本,財報評分,收盤,平均,漲跌,漲跌%,營業收入,營業毛利,...,營業毛利%,營業利益%,業外損益%,稅後淨利%,ROE,ROA,稅後EPS,EPS成長,BPS,stockid
0,1,2015,369.0,45,27.3,37.8,-16.1,-37.1,937.0,145.0,...,15.5,10.3,-1.08,7.39,4.36,2.36,1.56,-1.37,29.26,1101
1,2,2014,369.0,53,43.4,45.7,-2.85,-6.2,1183.0,249.0,...,21,16.8,1.13,14,10.50,5.76,2.93,0.21,31.95,1101
2,3,2013,369.0,51,46.25,39.8,7.35,18.9,1161.0,228.0,...,19.7,15.3,0.71,13,10.60,5.56,2.72,0.63,30.63,1101
3,4,2012,369.0,49,38.9,35.8,3.9,11.1,1195.0,177.0,...,14.8,10.9,-0.84,8.34,7.63,3.81,2.09,-0.24,27.03,1101
4,5,2011,369.0,55,35,36.8,2.2,6.7,1185.0,206.0,...,17.4,13.6,0.3,11.6,10.80,5.24,2.33,-0.1,26.21,1101

In [5]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')

In [7]:
tw2330.head()

        Date   Open   High    Low  Close    Volume  Adj Close
0 2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
1 2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
2 2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
3 2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
4 2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

## GET

In [8]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [10]:
#res.text

In [11]:
res = requests.get('https://ecapi.pchome.com.tw/ecshop/prodapi/v2/prod/button&id=DGCN1A-A9009EVNY&fields=Seq,Id,Price,Qty,ButtonType,SaleStatus,isPrimeOnly&_callback=jsonp_button&1538278200?_callback=jsonp_button')
res.text

'try{jsonp_button([{"Seq":21071063,"Id":"DGCN1A-A9009EVNY-000","Price":{"M":16900,"P":15900,"Prime":""},"Qty":"10","ButtonType":"ForSale","SaleStatus":1,"isPrimeOnly":0}]);}catch(e){if(window.console){console.log(e);}}'

## POST

In [12]:
import requests

url     = 'https://www.thsrc.com.tw/tw/TimeTable/Search'

payload = {
'StartStationName':  '台北站',
'EndStationName'  :  '桃園站',
'SearchType'      :  'S',
'StartStation'    : '977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation'      : 'fbd828d8-b1da-4b06-a3bd-680cdca4d2cd',
'DepartueSearchDate': '2018/09/30',
'DepartueSearchTime': '13:00'    
    
}

res = requests.post(url, data = payload)
res

In [20]:
#res.text

# JSON => Python Dict
res.json()['data']['DepartureTable']['TrainItem']


import pandas
pandas.DataFrame(res.json()['data']['DepartureTable']['TrainItem']).head()

,DepartureTime,DestinationTime,Discount,Duration,NonReservedCar,Note,Sequence,StationInfo,TrainNumber
0,06:26,06:47,[{'Id': '4baae6e5-b42c-474b-a194-ff8f1783c7bb'...,00:21,3,,0,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0803
1,06:51,07:13,[{'Id': '4baae6e5-b42c-474b-a194-ff8f1783c7bb'...,00:22,3,,1,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0603
2,07:11,07:32,[{'Id': '68d9fc7b-7330-44c2-962a-74bc47d2ee8a'...,00:21,3,,2,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0805
3,07:46,08:07,[{'Id': '4baae6e5-b42c-474b-a194-ff8f1783c7bb'...,00:21,3,,3,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0609
4,08:11,08:32,[{'Id': '4baae6e5-b42c-474b-a194-ff8f1783c7bb'...,00:21,3,,4,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0809

## 台鐵快速查詢
- http://twtraffic.tra.gov.tw/twrail/TW_QuickSearch.asp