## ZIP

In [1]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]

In [6]:
res = []
for pos in range(0,len(a)):
    res.append(a[pos] * b[pos])
res

[2, 12, 30, 56, 90]

In [11]:
res = []
for i,j in zip(a,b):
    res.append(i *j)
res

[2, 12, 30, 56, 90]

In [12]:
[i*j for i,j in zip(a,b)]

[2, 12, 30, 56, 90]

## Numpy

In [13]:
import numpy as np

a = [1,3,5,7,9]
b = [2,4,6,8,10]

na = np.array(a)
nb = np.array(b)

In [15]:
na, nb

(array([1, 3, 5, 7, 9]), array([ 2,  4,  6,  8, 10]))

In [17]:
na + nb

array([ 3,  7, 11, 15, 19])

In [18]:
na * nb

array([ 2, 12, 30, 56, 90])

In [20]:
na = np.array([1,2,3,4,5])
na

array([1, 2, 3, 4, 5])

In [21]:
na[0]

1

In [23]:
na[-1]

5

In [25]:
na[1:3]

array([2, 3])

In [27]:
na > 3

array([False, False, False,  True,  True])

In [28]:
na[na > 3]

array([4, 5])

In [29]:
na=np.array([[1,2,3,4,5],[6,7,8,9,10]])

In [30]:
na

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [31]:
na[0,0]

1

In [32]:
na[0,:]

array([1, 2, 3, 4, 5])

In [33]:
na[:,0]

array([1, 6])

In [34]:
na.T

array([[ 1,  6],
       [ 2,  7],
       [ 3,  8],
       [ 4,  9],
       [ 5, 10]])

In [36]:
a = [1,2,3, 'qoo','oop']
na = np.array(a)
na

array(['1', '2', '3', 'qoo', 'oop'], dtype='<U11')

In [37]:
na = np.array([['frank','M',29],['mary','F',23],['tom','M',35],['ted','M',33],['jean','F',21],['lisa','F',20]])
na

array([['frank', 'M', '29'],
       ['mary', 'F', '23'],
       ['tom', 'M', '35'],
       ['ted', 'M', '33'],
       ['jean', 'F', '21'],
       ['lisa', 'F', '20']], dtype='<U5')

In [38]:
na = np.array([ ['name', 'gender', 'age'], ['frank','M',29],['mary','F',23],['tom','M',35],['ted','M',33],['jean','F',21],['lisa','F',20]])
na

array([['name', 'gender', 'age'],
       ['frank', 'M', '29'],
       ['mary', 'F', '23'],
       ['tom', 'M', '35'],
       ['ted', 'M', '33'],
       ['jean', 'F', '21'],
       ['lisa', 'F', '20']], dtype='<U6')

## Pandas

In [39]:
import pandas as pd
df = pd.DataFrame([['frank','M',29],['mary','F',23],['tom','M',35],['ted','M',33],['jean','F',21],['lisa','F',20]])
df

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [40]:
print(df)

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
0    6 non-null object
1    6 non-null object
2    6 non-null int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [43]:
df.columns = ['name', 'gender', 'age']
df

    name gender  age
0  frank      M   29
1   mary      F   23
2    tom      M   35
3    ted      M   33
4   jean      F   21
5   lisa      F   20