### 方法一

In [2]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()

In [6]:
words = news.lower().split()

In [7]:
dic = {}
for word in words:
    if word not in dic:
        dic[word] = 1
    else:
        dic[word] = dic[word] + 1

In [13]:
import operator
swd = sorted(dic.items(), key = operator.itemgetter(1), reverse=True)
swd[0:10]

[('the', 130),
 ('a', 73),
 ('north', 66),
 ('of', 61),
 ('to', 59),
 ('and', 52),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('/', 41)]

### 方法二 (加入停用詞)

In [14]:
stopwords = ["a", "about", "above", "above", "across", "after", "afterwards", "again", "against", "all", "almost", "alone", "along", "already", "also","although","always","am","among", "amongst", "amoungst", "amount",  "an", "and", "another", "any","anyhow","anyone","anything","anyway", "anywhere", "are", "around", "as",  "at", "back","be","became", "because","become","becomes", "becoming", "been", "before", "beforehand", "behind", "being", "below", "beside", "besides", "between", "beyond", "bill", "both", "bottom","but", "by", "call", "can", "cannot", "cant", "co", "con", "could", "couldnt", "cry", "de", "describe", "detail", "do", "done", "down", "due", "during", "each", "eg", "eight", "either", "eleven","else", "elsewhere", "empty", "enough", "etc", "even", "ever", "every", "everyone", "everything", "everywhere", "except", "few", "fifteen", "fify", "fill", "find", "fire", "first", "five", "for", "former", "formerly", "forty", "found", "four", "from", "front", "full", "further", "get", "give", "go", "had", "has", "hasnt", "have", "he", "hence", "her", "here", "hereafter", "hereby", "herein", "hereupon", "hers", "herself", "him", "himself", "his", "how", "however", "hundred", "ie", "if", "in", "inc", "indeed", "interest", "into", "is", "it", "its", "itself", "keep", "last", "latter", "latterly", "least", "less", "ltd", "made", "many", "may", "me", "meanwhile", "might", "mill", "mine", "more", "moreover", "most", "mostly", "move", "much", "must", "my", "myself", "name", "namely", "neither", "never", "nevertheless", "next", "nine", "no", "nobody", "none", "noone", "nor", "not", "nothing", "now", "nowhere", "of", "off", "often", "on", "once", "one", "only", "onto", "or", "other", "others", "otherwise", "our", "ours", "ourselves", "out", "over", "own","part", "per", "perhaps", "please", "put", "rather", "re", "same", "see", "seem", "seemed", "seeming", "seems", "serious", "several", "she", "should", "show", "side", "since", "sincere", "six", "sixty", "so", "some", "somehow", "someone", "something", "sometime", "sometimes", "somewhere", "still", "such", "system", "take", "ten", "than", "that", "the", "their", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "therefore", "therein", "thereupon", "these", "they", "thickv", "thin", "third", "this", "those", "though", "three", "through", "throughout", "thru", "thus", "to", "together", "too", "top", "toward", "towards", "twelve", "twenty", "two", "un", "under", "until", "up", "upon", "us", "very", "via", "was", "we", "well", "were", "what", "whatever", "when", "whence", "whenever", "where", "whereafter", "whereas", "whereby", "wherein", "whereupon", "wherever", "whether", "which", "while", "whither", "who", "whoever", "whole", "whom", "whose", "why", "will", "with", "within", "without", "would", "yet", "you", "your", "yours", "yourself", "yourselves", "the"]

In [15]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()

In [23]:
# method 1
words = []
for word in news.lower().split():
    if (word not in stopwords) and (len(word)>=2):
        words.append(word)
        
# method 2
words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]

In [24]:
dic = {}
for word in words:
    if word not in dic:
        dic[word] = 1
    else:
        dic[word] = dic[word] + 1

In [25]:
import operator
swd = sorted(dic.items(), key = operator.itemgetter(1), reverse=True)
swd[0:10]

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14)]

### 方法三 (使用collections 做統計)
- https://docs.python.org/3/library/collections.html

In [28]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()
    
words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]

from collections import Counter
c = Counter(words)

c.most_common(10)

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14)]

In [31]:
from collections import Counter

def WordCount(filename, n):
    with open(filename, 'r', encoding='utf-8') as f:
        news = f.read()

    words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]
    c = Counter(words)

    return c.most_common(n)

WordCount('C:/Users/USER/Desktop/cnn.txt', 20)

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14),
 ('credit', 14),
 ('trump', 14),
 ('(photo', 12),
 ('president', 12),
 ('kcna', 11),
 ('images)', 11),
 ('tests', 10),
 ('said', 10),
 ('pyongyang', 10),
 ('read', 10)]

## 讀取結構化與半結構化資料

In [32]:
import pandas
df  = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/tw2330.csv')
df.head()

         Date   Open   High    Low  Close  Adj Close      Volume
0  2013-03-04  104.5  104.5  101.5  102.0  87.578972  50033000.0
1  2013-03-05  103.5  104.0  102.5  104.0  89.296204  53913000.0
2  2013-03-06  104.0  104.5  103.0  104.0  89.296204  35977000.0
3  2013-03-07  103.5  104.0  103.0  103.0  88.437592  20518000.0
4  2013-03-08  103.0  104.5  102.0  103.5  88.866898  44571000.0

In [34]:
stock = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/stock.xlsx')
stock.head()

,id,年度,股本,財報評分,收盤,平均,漲跌,漲跌%,營業收入,營業毛利,...,營業毛利%,營業利益%,業外損益%,稅後淨利%,ROE,ROA,稅後EPS,EPS成長,BPS,stockid
0,1,2015,369.0,45,27.3,37.8,-16.1,-37.1,937.0,145.0,...,15.5,10.3,-1.08,7.39,4.36,2.36,1.56,-1.37,29.26,1101
1,2,2014,369.0,53,43.4,45.7,-2.85,-6.2,1183.0,249.0,...,21,16.8,1.13,14,10.50,5.76,2.93,0.21,31.95,1101
2,3,2013,369.0,51,46.25,39.8,7.35,18.9,1161.0,228.0,...,19.7,15.3,0.71,13,10.60,5.56,2.72,0.63,30.63,1101
3,4,2012,369.0,49,38.9,35.8,3.9,11.1,1195.0,177.0,...,14.8,10.9,-0.84,8.34,7.63,3.81,2.09,-0.24,27.03,1101
4,5,2011,369.0,55,35,36.8,2.2,6.7,1185.0,206.0,...,17.4,13.6,0.3,11.6,10.80,5.24,2.33,-0.1,26.21,1101

In [35]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')
tw2330.head()

   Adj Close  Close       Date   High    Low   Open    Volume
0      172.0  172.0 2016-07-21  172.0  170.0  171.0  33130000
1      170.0  170.0 2016-07-20  170.5  169.0  170.0  38053000
2      170.5  170.5 2016-07-19  170.5  169.0  170.5  42456000
3      169.5  169.5 2016-07-18  170.0  168.0  168.0  24749000
4      169.5  169.5 2016-07-15  169.5  169.5  169.5     41000

## 使用Requests GET 存取網頁
- https://zh.wikipedia.org/wiki/HTTP%E7%8A%B6%E6%80%81%E7%A0%81

In [36]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [38]:
#res.text