## Pandas

In [1]:
import pandas
stock = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/stock.xlsx')

In [3]:
stock.head()

,id,年度,股本,財報評分,收盤,平均,漲跌,漲跌%,營業收入,營業毛利,...,營業毛利%,營業利益%,業外損益%,稅後淨利%,ROE,ROA,稅後EPS,EPS成長,BPS,stockid
0,1,2015,369.0,45,27.3,37.8,-16.1,-37.1,937.0,145.0,...,15.5,10.3,-1.08,7.39,4.36,2.36,1.56,-1.37,29.26,1101
1,2,2014,369.0,53,43.4,45.7,-2.85,-6.2,1183.0,249.0,...,21,16.8,1.13,14,10.50,5.76,2.93,0.21,31.95,1101
2,3,2013,369.0,51,46.25,39.8,7.35,18.9,1161.0,228.0,...,19.7,15.3,0.71,13,10.60,5.56,2.72,0.63,30.63,1101
3,4,2012,369.0,49,38.9,35.8,3.9,11.1,1195.0,177.0,...,14.8,10.9,-0.84,8.34,7.63,3.81,2.09,-0.24,27.03,1101
4,5,2011,369.0,55,35,36.8,2.2,6.7,1185.0,206.0,...,17.4,13.6,0.3,11.6,10.80,5.24,2.33,-0.1,26.21,1101

In [5]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')

In [7]:
tw2330.head()

        Date   Open   High    Low  Close    Volume  Adj Close
0 2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
1 2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
2 2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
3 2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
4 2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

## GET

In [64]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [66]:
type(res)

requests.models.Response

In [65]:
#res.text

In [11]:
res = requests.get('https://ecapi.pchome.com.tw/ecshop/prodapi/v2/prod/button&id=DGCN1A-A9009EVNY&fields=Seq,Id,Price,Qty,ButtonType,SaleStatus,isPrimeOnly&_callback=jsonp_button&1538278200?_callback=jsonp_button')
res.text

'try{jsonp_button([{"Seq":21071063,"Id":"DGCN1A-A9009EVNY-000","Price":{"M":16900,"P":15900,"Prime":""},"Qty":"10","ButtonType":"ForSale","SaleStatus":1,"isPrimeOnly":0}]);}catch(e){if(window.console){console.log(e);}}'

## POST

In [12]:
import requests

url     = 'https://www.thsrc.com.tw/tw/TimeTable/Search'

payload = {
'StartStationName':  '台北站',
'EndStationName'  :  '桃園站',
'SearchType'      :  'S',
'StartStation'    : '977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation'      : 'fbd828d8-b1da-4b06-a3bd-680cdca4d2cd',
'DepartueSearchDate': '2018/09/30',
'DepartueSearchTime': '13:00'    
    
}

res = requests.post(url, data = payload)
res

In [20]:
#res.text

# JSON => Python Dict
res.json()['data']['DepartureTable']['TrainItem']


import pandas
pandas.DataFrame(res.json()['data']['DepartureTable']['TrainItem']).head()

,DepartureTime,DestinationTime,Discount,Duration,NonReservedCar,Note,Sequence,StationInfo,TrainNumber
0,06:26,06:47,[{'Id': '4baae6e5-b42c-474b-a194-ff8f1783c7bb'...,00:21,3,,0,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0803
1,06:51,07:13,[{'Id': '4baae6e5-b42c-474b-a194-ff8f1783c7bb'...,00:22,3,,1,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0603
2,07:11,07:32,[{'Id': '68d9fc7b-7330-44c2-962a-74bc47d2ee8a'...,00:21,3,,2,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0805
3,07:46,08:07,[{'Id': '4baae6e5-b42c-474b-a194-ff8f1783c7bb'...,00:21,3,,3,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0609
4,08:11,08:32,[{'Id': '4baae6e5-b42c-474b-a194-ff8f1783c7bb'...,00:21,3,,4,"[{'StationNo': '01', 'StationName': '南港站', 'De...",0809

## 台鐵快速查詢
- http://twtraffic.tra.gov.tw/twrail/TW_QuickSearch.aspx

## MOMO購物

In [41]:
import requests
headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36',  
}
res = requests.get('https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=4778291&str_category_code=1903000021', headers = headers)

In [35]:
res.text.split('salePrice =')[1].split(';')[0]

" '15990'"

## Split 用法

In [36]:
a = '123189237129@233827493@12312380@12313'
a.split('@')

['123189237129', '233827493', '12312380', '12313']

## 巴哈姆特

In [53]:
res = requests.get('https://www.gamer.com.tw/')
data = res.text.split('var list = ')[1].split('\n')[0].strip(';')

In [56]:
import json
#json.loads(data)

## BeautifulSoup 文件
- https://beautifulsoup.readthedocs.io/zh_CN/v4.4.0/

In [57]:
html_sample = '''
<html>
<body>
<h1 id="title">Hello World</h1>
<a href="#" class="link">This is link1</a>
<a href="# link2" class="link">This is link2</a>
</body>
</html>
'''

In [ ]:
import requests
import bs4 
from bs4 import BeautifulSoup

requests.get
bs4.BeautifulSoup

In [58]:
a = [2,3,4,5,6]
sum(a)

20

In [59]:
sum = 5

In [60]:
sum(a)

TypeError: 'int' object is not callable

In [61]:
from bs4 import BeautifulSoup
html_sample = '''
<html>
<body>
<h1 id="title">Hello World</h1>
<a href="#" class="link">This is link1</a>
<a href="# link2" class="link">This is link2</a>
</body>
</html>
'''

soup = BeautifulSoup(html_sample, 'lxml')

In [67]:
type(soup)

bs4.BeautifulSoup

In [63]:
soup.text

'\n\nHello World\nThis is link1\nThis is link2\n\n\n'

### select_one => BeautifulSoup Object
### select         => List

In [69]:
soup.select_one('h1')

In [71]:
soup.select_one('h1').text

'Hello World'

In [73]:
soup.select_one('a')

In [75]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [77]:
soup.select('a')[0].text

'This is link1'

In [79]:
soup.select('h1')

In [81]:
soup.select('h1')[0]

In [82]:
soup.select('h1')[0].text

'Hello World'

In [83]:
soup

<html>
<body>
<h1 id="title">Hello World</h1>
<a class="link" href="#">This is link1</a>
<a class="link" href="# link2">This is link2</a>
</body>
</html>

In [85]:
# id => #
soup.select_one('#title')

In [87]:
# class => .
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [88]:
soup.select_one('h1#title')

In [89]:
soup.select('a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [91]:
soup.select_one('body h1#title')

In [93]:
soup.select_one('body > h1#title')

In [94]:
soup.select('body a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

## CSS 參考
- http://www.w3school.com.cn/css/css_syntax_attribute_selector.asp

In [98]:
for link in soup.select('body a.link'):
    #print(link)
    #print(link.text)
    print(link.get('href'))

#
# link2

In [101]:
s = '<a href="https://www.largitdata.com" data-id=123 data-attr="qoo">'
s2 = BeautifulSoup(s, 'lxml')
s2.select_one('a').get('data-id')
s2.select_one('a').get('data-attr')

'qoo'

## 資料蒐集實務

In [114]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [115]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [140]:
#soup.select('li.rtddt a')
for news in soup.select('.rtddt a'):
    #print(news)
    title    = news.select_one('h1').text
    category = news.select_one('h2').text
    dt       = news.select_one('time').text
    link     = news.get('href')
    print(title, category, dt, link)
    print('========================================')

嚴正嵐笑喊愛情麵包雙收　以結婚為前提嫁給... 娛樂 14:37 https://tw.entertainment.appledaily.com/realtime/20180930/1438965/
========================================
中國停售來往新疆車票　傳秘密轉移維吾爾人 國際 14:35 https://tw.news.appledaily.com/international/realtime/20180930/1438994/
========================================
監院發函本周五約詢管中閔　仍未獲答覆 政治 14:35 https://tw.news.appledaily.com/politics/realtime/20180930/1438931/
========================================
騰訊總裁清晨6點叫起床　宣布20歲生日頭... 財經 14:33 https://tw.finance.appledaily.com/realtime/20180930/1438995/
========================================
新時代來了　央行：政策傳遞效果弱化、將調... 財經 14:30 https://tw.finance.appledaily.com/realtime/20180930/1438991/
========================================
【更新】連3安加統一守備失誤　4局統一0...(721) 體育 14:29 https://tw.sports.appledaily.com/realtime/20180930/1438950/
========================================
普通蚊子3倍大　美颶風災區被「怪獸巨蚊」...(84) 國際 14:26 https://tw.news.appledaily.com/international/realtime/20180930/1438960/
========================================
吃火鍋不滿服務爆火氣　兩男酒後砸店遭法辦 社會 14:22 https://tw.news.appledaily.com/local/realtime/20180930/1438988/
========================================
人夫愛愛出怪招　人妻勸不聽怒提告(133681) 社會 14:20 https://tw.news.appledaily.com/local/realtime/20180930/1438308/
========================================
李婉鈺爆乳蹦出東西半球　「地表最正議員」...(86199) 政治 14:19 https://tw.news.appledaily.com/politics/realtime/20180930/1438900/
========================================
馬斯克與美證管會和解　辭特斯拉董事長付1...(18691) 財經 14:19 https://tw.finance.appledaily.com/realtime/20180930/1438822/
========================================
迎新點火吵鬧惹議　逢甲居民要大學生自制 生活 14:19 https://tw.news.appledaily.com/life/realtime/20180930/1438990/
========================================
【10/1-10/7戀愛運】金牛春心恐有...(253) 副刊 14:17 https://tw.lifestyle.appledaily.com/lifestyle/realtime/20180930/1438952/
========================================
日本女子公開賽　姚宣榆前6洞種敗因單獨第...(86) 體育 14:12 https://tw.sports.appledaily.com/realtime/20180930/1438975/
========================================
憲哥「少一個敵人」送費玉清退休　自爆三辭...(938) 娛樂 14:10 https://tw.entertainment.appledaily.com/realtime/20180930/1438939/
========================================
魏明仁出境香港　受中媒訪問稱「戰術性撤退...(1678) 政治 14:07 https://tw.news.appledaily.com/politics/realtime/20180930/1438966/
========================================
屏縣長參選人蘇清泉競總成立　3千張椅子不...(4143) 政治 14:02 https://tw.news.appledaily.com/politics/realtime/20180930/1438945/
========================================
輾死醉倒人行道男大生　肇事司機賠600萬...(3723) 社會 14:01 https://tw.news.appledaily.com/local/realtime/20180930/1438948/
========================================
【警殤故事1】一槍打進他腦袋卡彈4個月　...(135943) 微視蘋 14:00 https://tw.news.appledaily.com/micromovie/realtime/20180930/1436671/
========================================
【警殤故事3】抓違停竟遭剁骨刀亂砍　張家...(77527) 社會 14:00 https://tw.news.appledaily.com/local/realtime/20180930/1428457/
========================================
【警殤故事2】他36歲遭酒駕女狠撞慘截肢...(38108) 社會 14:00 https://tw.news.appledaily.com/local/realtime/20180930/1436637/
========================================
夭壽網友爆肝癌不治　周傳雄澄清「身體非常...(2543) 娛樂 14:00 https://tw.entertainment.appledaily.com/realtime/20180930/1438936/
========================================
善化稀有市區推案　2~3房每坪18萬起　(300) 地產 14:00 https://tw.finance.appledaily.com/realtime/20180930/1437978/
========================================
美專家稱台灣能贏台海戰爭　國防部：有信心(770) 政治 13:58 https://tw.news.appledaily.com/politics/realtime/20180930/1438970/
========================================
【創薪世代2】誰說老闆就是爽？　「越痛苦...(2188) 財經 13:57 https://tw.finance.appledaily.com/realtime/20180930/1434259/
========================================
開車夜遊耍帥失敗　過彎卡在分隔島好尷尬(8956) 社會 13:56 https://tw.news.appledaily.com/local/realtime/20180930/1438817/
========================================
坐繫纜樁看海　疑身體不適跌落港溺斃(495) 社會 13:56 https://tw.news.appledaily.com/local/realtime/20180930/1438968/
========================================
八斗子恐怖大浪衝堤　擊倒3人全身傷送醫(14665) 社會 13:55 https://tw.news.appledaily.com/local/realtime/20180930/1438932/
========================================
【創薪世代1】創業「做功德」　花18個月...(3950) 財經 13:54 https://tw.finance.appledaily.com/realtime/20180930/1434095/
========================================
康芮最快今天變中颱　周三替北部帶來水氣(20642) 生活 13:53 https://tw.news.appledaily.com/life/realtime/20180930/1438839/
========================================

In [141]:
import requests
res = requests.get('https://tw.finance.appledaily.com/realtime/20180930/1438995/')

In [143]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [146]:
print(soup.select_one('h1').text)

騰訊總裁清晨6點叫起床　宣布20歲生日頭號大事

In [149]:
soup.select_one('.ndArticle_margin p').text

'伴隨裁員傳聞滿天飛，中國網際網路巨擘騰訊（Tencent）今宣布啟動新一輪組織架構整頓，在原有7大事業群基礎上進行重組整合，整合為6大事業群，並成立技術委員會，加強基礎研發。\xa0騰訊董事長馬化騰在正式公告中說：「此次主動革新是騰訊邁向下一個20年的新起點。它是一次非常重要的戰略升級，互聯網的下半場屬於產業互聯網，上半場騰訊通過連結為用戶提供優質的服務，下半場我們將在此基礎上，助力產業與消費者形成更具開放性的新型接連生態。」\xa0騰訊創辦於1998年11月，今年11月成立將屆滿20周年。華爾街見聞報導，騰訊總裁劉熾平今天一早6點多就發送內部信件，向公司上下表示「無論是外界的建議和鞭策，還是內部的思考和進化，都將是騰訊20周歲收穫的最好禮物。」\xa0據香港《蘋果日報》報導，騰訊在2005年和2012年分別經歷過2次重大組織架構調整，此次為時隔6年後，新一輪結構優化重組。\xa0原有的7大事業群中，將保留企業發展事業群（CDG）、互動娛樂事業群（IEG）、技術工程事業群（TEG）、微信事業群（WXG），另外新成立雲與智慧產業事業群（CSIG）、平台與內容事業群（PCG）。\xa0這意味原有移動網絡事業群（MIG）、網絡媒體事業群（OMG）、社交網絡事業群（SNG）將被裁撤，整併入上列新事業群中。\xa0伴隨此次組織架構調整異動，外界出現了有關騰訊將裁員的傳言。但騰訊已向騰訊科技回應，此次調整不涉及裁員，公司各個業務板塊將整體平移。\xa0（劉利貞／綜合外電報導）'

In [151]:
soup.select_one('.ndArticle_creat').text

'出版時間：2018/09/30 14:33'

In [157]:
from datetime import datetime, timedelta
current_time = datetime.now()

In [158]:
type(current_time)

datetime.datetime

In [159]:
current_time

datetime.datetime(2018, 9, 30, 15, 1, 56, 640920)

In [161]:
current_time - timedelta(days = 1)

datetime.datetime(2018, 9, 29, 15, 1, 56, 640920)

In [163]:
current_time + timedelta(days = 1)

datetime.datetime(2018, 10, 1, 15, 1, 56, 640920)

## Datetime
- https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [165]:
current_time.strftime('%Y-%m-%d')

'2018-09-30'

In [172]:
dt2 = datetime.strptime('2018-08-30','%Y-%m-%d')

In [173]:
current_time  - dt2

datetime.timedelta(31, 54116, 640920)

In [171]:
for i in range(1,10):
    dt = current_time - timedelta(days = i)
    print(dt.strftime('%Y/%m/%d'))

2018/09/29
2018/09/28
2018/09/27
2018/09/26
2018/09/25
2018/09/24
2018/09/23
2018/09/22
2018/09/21

In [175]:
datetime.strptime(soup.select_one('.ndArticle_creat').text, '出版時間：%Y/%m/%d %H:%M')

datetime.datetime(2018, 9, 30, 14, 33)

In [179]:
int(soup.select_one('.ndArticle_view').text)

1139

In [182]:
soup.select_one('.ndgTag .current').text

'財經地產'

In [185]:
def pageDetail(url):
    res     = requests.get(url)
    soup    = BeautifulSoup(res.text, 'lxml')
    title   = soup.select_one('h1').text
    content = soup.select_one('.ndArticle_margin p').text
    dt      = datetime.strptime(soup.select_one('.ndArticle_creat').text, '出版時間：%Y/%m/%d %H:%M')
    view_cnt= int(soup.select_one('.ndArticle_view').text)
    category= soup.select_one('.ndgTag .current').text
    
    ret     = {'title':title, 'content':content, 'dt':dt, 'view_cnt':view_cnt, 'category':category}
    return  ret

In [186]:
pageDetail('https://tw.finance.appledaily.com/realtime/20180930/1438995/')

{'title': '騰訊總裁清晨6點叫起床\u3000宣布20歲生日頭號大事',
 'content': '伴隨裁員傳聞滿天飛，中國網際網路巨擘騰訊（Tencent）今宣布啟動新一輪組織架構整頓，在原有7大事業群基礎上進行重組整合，整合為6大事業群，並成立技術委員會，加強基礎研發。\xa0騰訊董事長馬化騰在正式公告中說：「此次主動革新是騰訊邁向下一個20年的新起點。它是一次非常重要的戰略升級，互聯網的下半場屬於產業互聯網，上半場騰訊通過連結為用戶提供優質的服務，下半場我們將在此基礎上，助力產業與消費者形成更具開放性的新型接連生態。」\xa0騰訊創辦於1998年11月，今年11月成立將屆滿20周年。華爾街見聞報導，騰訊總裁劉熾平今天一早6點多就發送內部信件，向公司上下表示「無論是外界的建議和鞭策，還是內部的思考和進化，都將是騰訊20周歲收穫的最好禮物。」\xa0據香港《蘋果日報》報導，騰訊在2005年和2012年分別經歷過2次重大組織架構調整，此次為時隔6年後，新一輪結構優化重組。\xa0原有的7大事業群中，將保留企業發展事業群（CDG）、互動娛樂事業群（IEG）、技術工程事業群（TEG）、微信事業群（WXG），另外新成立雲與智慧產業事業群（CSIG）、平台與內容事業群（PCG）。\xa0這意味原有移動網絡事業群（MIG）、網絡媒體事業群（OMG）、社交網絡事業群（SNG）將被裁撤，整併入上列新事業群中。\xa0伴隨此次組織架構調整異動，外界出現了有關騰訊將裁員的傳言。但騰訊已向騰訊科技回應，此次調整不涉及裁員，公司各個業務板塊將整體平移。\xa0（劉利貞／綜合外電報導）',
 'dt': datetime.datetime(2018, 9, 30, 14, 33),
 'view_cnt': 2792,
 'category': '財經地產'}

In [187]:
pageDetail('https://tw.entertainment.appledaily.com/realtime/20180930/1438892/')

{'title': '五月天跨年10場半小時搶光！網站崩潰歌迷也崩潰',
 'content': '五月天今年底將在台中連唱10場，今早11點開放售票，但拓元售票網站一度癱瘓，不少粉絲哀鴻遍野，表示「驗證碼送出去就當了」、「網站根本進不去，超扯」，批踢踢五月天板擠進上萬鄉民關注。大約11點10幾分開始陸續有網友表示買到票，11點30分網站顯示全部售完，將進行對帳整理，預計於下午2點30分重新釋票。\xa0此外，拓元早前規定舊會員需重新經過手機認證，需經過24小時系統作業處理，才可開始於拓元網站購票，意即須提前25小時認證，不少粉絲不知此條規定，今早才知喪失購票資格。（娛樂中心／綜合報導）出版時間：11:20新增影片：13:00',
 'dt': datetime.datetime(2018, 9, 30, 13, 0),
 'view_cnt': 28908,
 'category': '娛樂時尚'}