## ZIP

In [1]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]

In [6]:
res = []
for pos in range(0,len(a)):
    res.append(a[pos] * b[pos])
res

[2, 12, 30, 56, 90]

In [11]:
res = []
for i,j in zip(a,b):
    res.append(i *j)
res

[2, 12, 30, 56, 90]

In [12]:
[i*j for i,j in zip(a,b)]

[2, 12, 30, 56, 90]

## Numpy

In [13]:
import numpy as np

a = [1,3,5,7,9]
b = [2,4,6,8,10]

na = np.array(a)
nb = np.array(b)

In [15]:
na, nb

(array([1, 3, 5, 7, 9]), array([ 2,  4,  6,  8, 10]))

In [17]:
na + nb

array([ 3,  7, 11, 15, 19])

In [18]:
na * nb

array([ 2, 12, 30, 56, 90])

In [20]:
na = np.array([1,2,3,4,5])
na

array([1, 2, 3, 4, 5])

In [21]:
na[0]

1

In [23]:
na[-1]

5

In [25]:
na[1:3]

array([2, 3])

In [27]:
na > 3

array([False, False, False,  True,  True])

In [28]:
na[na > 3]

array([4, 5])

In [29]:
na=np.array([[1,2,3,4,5],[6,7,8,9,10]])

In [30]:
na

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [31]:
na[0,0]

1

In [32]:
na[0,:]

array([1, 2, 3, 4, 5])

In [33]:
na[:,0]

array([1, 6])

In [34]:
na.T

array([[ 1,  6],
       [ 2,  7],
       [ 3,  8],
       [ 4,  9],
       [ 5, 10]])

In [36]:
a = [1,2,3, 'qoo','oop']
na = np.array(a)
na

array(['1', '2', '3', 'qoo', 'oop'], dtype='<U11')

In [37]:
na = np.array([['frank','M',29],['mary','F',23],['tom','M',35],['ted','M',33],['jean','F',21],['lisa','F',20]])
na

array([['frank', 'M', '29'],
       ['mary', 'F', '23'],
       ['tom', 'M', '35'],
       ['ted', 'M', '33'],
       ['jean', 'F', '21'],
       ['lisa', 'F', '20']], dtype='<U5')

In [38]:
na = np.array([ ['name', 'gender', 'age'], ['frank','M',29],['mary','F',23],['tom','M',35],['ted','M',33],['jean','F',21],['lisa','F',20]])
na

array([['name', 'gender', 'age'],
       ['frank', 'M', '29'],
       ['mary', 'F', '23'],
       ['tom', 'M', '35'],
       ['ted', 'M', '33'],
       ['jean', 'F', '21'],
       ['lisa', 'F', '20']], dtype='<U6')

## Pandas

In [39]:
import pandas as pd
df = pd.DataFrame([['frank','M',29],['mary','F',23],['tom','M',35],['ted','M',33],['jean','F',21],['lisa','F',20]])
df

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [40]:
print(df)

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
0    6 non-null object
1    6 non-null object
2    6 non-null int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [43]:
df.columns = ['name', 'gender', 'age']
df

    name gender  age
0  frank      M   29
1   mary      F   23
2    tom      M   35
3    ted      M   33
4   jean      F   21
5   lisa      F   20

In [ ]:
https://tw.news.yahoo.com/_td-news/api/resource/IndexDataService.getExternalMediaNewsList;count=10;loadMore=true;mrs=%7B%22size%22%3A%7B%22w%22%3A220%2C%22h%22%3A128%7D%7D;newsTab=all;start=100;tag=null;usePrefetch=true?bkt=native_generalads&device=desktop&feature=videoDocking%2Cfullmodalview&intl=tw&lang=zh-Hant-TW&partner=none&prid=822gogdddnsl7&region=TW&site=news&tz=Asia%2FTaipei&ver=2.0.968&returnMeta=true
https://tw.news.yahoo.com/_td-news/api/resource/IndexDataService.getExternalMediaNewsList;count=10;loadMore=true;mrs=%7B%22size%22%3A%7B%22w%22%3A220%2C%22h%22%3A128%7D%7D;newsTab=all;start=110;tag=null;usePrefetch=true?bkt=native_generalads&device=desktop&feature=videoDocking%2Cfullmodalview&intl=tw&lang=zh-Hant-TW&partner=none&prid=822gogdddnsl7&region=TW&site=news&tz=Asia%2FTaipei&ver=2.0.968&returnMeta=true

In [48]:
import requests
news = []
for i in range(0,10):
    res = requests.get('https://tw.news.yahoo.com/_td-news/api/resource/IndexDataService.getExternalMediaNewsList;count=100;loadMore=true;mrs=%7B%22size%22%3A%7B%22w%22%3A220%2C%22h%22%3A128%7D%7D;newsTab=all;start={};tag=null;usePrefetch=true?bkt=native_generalads&device=desktop&feature=videoDocking%2Cfullmodalview&intl=tw&lang=zh-Hant-TW&partner=none&prid=822gogdddnsl7&region=TW&site=news&tz=Asia%2FTaipei&ver=2.0.968&returnMeta=true'.format(i * 10))
    news.extend(res.json()['data'])

In [51]:
import pandas
df = pandas.DataFrame(news)
df.head(3)

,content_type,id,provider_name,published_at,summary,thumbnail,title,ts_update,url
0,story,96f8ba6d-75df-33f5-b8e9-7b845c42785e,Yahoo奇摩電競,1524364360,《絕地求生》開發商 PUBG Corp 近日宣佈目前正在製作地圖選擇功能，讓玩家可以隨心所欲...,{'url': 'https://s2.yimg.com/lo/api/res/1.2/uk...,《絕地求生》開發商預告地圖選擇功能，測試伺服器搶先開放,1524364406,/%E3%80%8A%E7%B5%95%E5%9C%B0%E6%B1%82%E7%94%9F...
1,story,3cafc7df-0270-3c13-b924-712e46f51a4e,風傳媒,1524363001,美國國會轄下的「中美經濟與安全評估委員會」19日警告，由中國企業或受中國影響的企業製造的資訊...,{'url': 'https://s2.yimg.com/lo/api/res/1.2/Ph...,中美貿易戰》「中國製造」無孔不入 美國國會警告：中國資通訊科技產品暗藏國安漏洞,1524364232,/%E4%B8%AD%E7%BE%8E%E8%B2%BF%E6%98%93%E6%88%B0...
2,story,2e33526e-7590-3a2c-8680-208bbfdf6702,新頭殼,1524363946,新頭殼newtalk,NaN,不滿小屁孩用餐亂跑 狠心孕婦伸腳絆倒害腦震盪,1524364218,/%E4%B8%8D%E6%BB%BF%E5%B0%8F%E5%B1%81%E5%AD%A9...

In [50]:
df.count()

content_type     1000
id               1000
provider_name    1000
published_at     1000
summary          1000
thumbnail         543
title            1000
ts_update        1000
url              1000
dtype: int64

## Pandas Series

In [52]:
import pandas as pd
s = pd.Series([21000,18900,18000])
s

0    21000
1    18900
2    18000
dtype: int64

In [53]:
s = pd.Series([21000,18900,18000], index = ['IPhone', 'Edge S7', 'HTC M1'])
s

IPhone     21000
Edge S7    18900
HTC M1     18000
dtype: int64

In [54]:
s= pd.Series({'IPhone':21000,'Edge S7':18900,'HTC M1':18000})
s

Edge S7    18900
HTC M1     18000
IPhone     21000
dtype: int64

In [56]:
s[2]

21000

In [57]:
s[1:3]

HTC M1    18000
IPhone    21000
dtype: int64

In [58]:
s['IPhone']

21000

In [59]:
s[['IPhone', 'Edge S7']]

IPhone     21000
Edge S7    18900
dtype: int64

In [60]:
s < 20000

Edge S7     True
HTC M1      True
IPhone     False
dtype: bool

In [61]:
s[s<20000]

Edge S7    18900
HTC M1     18000
dtype: int64

In [62]:
cheap = s < 20000
cheap

Edge S7     True
HTC M1      True
IPhone     False
dtype: bool

In [63]:
s[cheap]

Edge S7    18900
HTC M1     18000
dtype: int64

In [66]:
s['IPhone'] = 20000

In [67]:
s

Edge S7    18900
HTC M1     18000
IPhone     20000
dtype: int64

In [70]:
s[s < 20000] = s[s < 20000] * 0.8

In [71]:
s

Edge S7    15120
HTC M1     14400
IPhone     20000
dtype: int64

In [73]:
'IPhone' in s

True

In [74]:
'mi' in s

False

In [76]:
s *0.8

Edge S7    12096.0
HTC M1     11520.0
IPhone     16000.0
dtype: float64

In [77]:
import numpy as np
np.sqrt(s)

Edge S7    122.963409
HTC M1     120.000000
IPhone     141.421356
dtype: float64

In [79]:
s.max()

20000

In [80]:
s.min()

14400

In [81]:
s.describe()

count        3.000000
mean     16506.666667
std       3046.659373
min      14400.000000
25%      14760.000000
50%      15120.000000
75%      17560.000000
max      20000.000000
dtype: float64

In [83]:
s[['mi','HTC M1']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:705: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

mi            NaN
HTC M1    14400.0
dtype: float64

In [85]:
s[['IPhone', 'HTC M1']]

IPhone    20000
HTC M1    14400
dtype: int64

In [86]:
s[['mi','HTC M1']] + s[['IPhone', 'HTC M1']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:705: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

HTC M1    28800.0
IPhone        NaN
mi            NaN
dtype: float64

In [87]:
s2 = s[['mi','HTC M1']] + s[['IPhone', 'HTC M1']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:705: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

In [89]:
s2.notnull()

HTC M1     True
IPhone    False
mi        False
dtype: bool

In [90]:
s2.isnull()

HTC M1    False
IPhone     True
mi         True
dtype: bool