### 方法一

In [2]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()

In [6]:
words = news.lower().split()

In [7]:
dic = {}
for word in words:
    if word not in dic:
        dic[word] = 1
    else:
        dic[word] = dic[word] + 1

In [13]:
import operator
swd = sorted(dic.items(), key = operator.itemgetter(1), reverse=True)
swd[0:10]

[('the', 130),
 ('a', 73),
 ('north', 66),
 ('of', 61),
 ('to', 59),
 ('and', 52),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('/', 41)]

### 方法二 (加入停用詞)

In [14]:
stopwords = ["a", "about", "above", "above", "across", "after", "afterwards", "again", "against", "all", "almost", "alone", "along", "already", "also","although","always","am","among", "amongst", "amoungst", "amount",  "an", "and", "another", "any","anyhow","anyone","anything","anyway", "anywhere", "are", "around", "as",  "at", "back","be","became", "because","become","becomes", "becoming", "been", "before", "beforehand", "behind", "being", "below", "beside", "besides", "between", "beyond", "bill", "both", "bottom","but", "by", "call", "can", "cannot", "cant", "co", "con", "could", "couldnt", "cry", "de", "describe", "detail", "do", "done", "down", "due", "during", "each", "eg", "eight", "either", "eleven","else", "elsewhere", "empty", "enough", "etc", "even", "ever", "every", "everyone", "everything", "everywhere", "except", "few", "fifteen", "fify", "fill", "find", "fire", "first", "five", "for", "former", "formerly", "forty", "found", "four", "from", "front", "full", "further", "get", "give", "go", "had", "has", "hasnt", "have", "he", "hence", "her", "here", "hereafter", "hereby", "herein", "hereupon", "hers", "herself", "him", "himself", "his", "how", "however", "hundred", "ie", "if", "in", "inc", "indeed", "interest", "into", "is", "it", "its", "itself", "keep", "last", "latter", "latterly", "least", "less", "ltd", "made", "many", "may", "me", "meanwhile", "might", "mill", "mine", "more", "moreover", "most", "mostly", "move", "much", "must", "my", "myself", "name", "namely", "neither", "never", "nevertheless", "next", "nine", "no", "nobody", "none", "noone", "nor", "not", "nothing", "now", "nowhere", "of", "off", "often", "on", "once", "one", "only", "onto", "or", "other", "others", "otherwise", "our", "ours", "ourselves", "out", "over", "own","part", "per", "perhaps", "please", "put", "rather", "re", "same", "see", "seem", "seemed", "seeming", "seems", "serious", "several", "she", "should", "show", "side", "since", "sincere", "six", "sixty", "so", "some", "somehow", "someone", "something", "sometime", "sometimes", "somewhere", "still", "such", "system", "take", "ten", "than", "that", "the", "their", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "therefore", "therein", "thereupon", "these", "they", "thickv", "thin", "third", "this", "those", "though", "three", "through", "throughout", "thru", "thus", "to", "together", "too", "top", "toward", "towards", "twelve", "twenty", "two", "un", "under", "until", "up", "upon", "us", "very", "via", "was", "we", "well", "were", "what", "whatever", "when", "whence", "whenever", "where", "whereafter", "whereas", "whereby", "wherein", "whereupon", "wherever", "whether", "which", "while", "whither", "who", "whoever", "whole", "whom", "whose", "why", "will", "with", "within", "without", "would", "yet", "you", "your", "yours", "yourself", "yourselves", "the"]

In [15]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()

In [23]:
# method 1
words = []
for word in news.lower().split():
    if (word not in stopwords) and (len(word)>=2):
        words.append(word)
        
# method 2
words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]

In [24]:
dic = {}
for word in words:
    if word not in dic:
        dic[word] = 1
    else:
        dic[word] = dic[word] + 1

In [25]:
import operator
swd = sorted(dic.items(), key = operator.itemgetter(1), reverse=True)
swd[0:10]

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14)]

### 方法三 (使用collections 做統計)
- https://docs.python.org/3/library/collections.html

In [28]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()
    
words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]

from collections import Counter
c = Counter(words)

c.most_common(10)

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14)]

In [31]:
from collections import Counter

def WordCount(filename, n):
    with open(filename, 'r', encoding='utf-8') as f:
        news = f.read()

    words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]
    c = Counter(words)

    return c.most_common(n)

WordCount('C:/Users/USER/Desktop/cnn.txt', 20)

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14),
 ('credit', 14),
 ('trump', 14),
 ('(photo', 12),
 ('president', 12),
 ('kcna', 11),
 ('images)', 11),
 ('tests', 10),
 ('said', 10),
 ('pyongyang', 10),
 ('read', 10)]

## 讀取結構化與半結構化資料

In [32]:
import pandas
df  = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/tw2330.csv')
df.head()

         Date   Open   High    Low  Close  Adj Close      Volume
0  2013-03-04  104.5  104.5  101.5  102.0  87.578972  50033000.0
1  2013-03-05  103.5  104.0  102.5  104.0  89.296204  53913000.0
2  2013-03-06  104.0  104.5  103.0  104.0  89.296204  35977000.0
3  2013-03-07  103.5  104.0  103.0  103.0  88.437592  20518000.0
4  2013-03-08  103.0  104.5  102.0  103.5  88.866898  44571000.0

In [34]:
stock = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/stock.xlsx')
stock.head()

,id,年度,股本,財報評分,收盤,平均,漲跌,漲跌%,營業收入,營業毛利,...,營業毛利%,營業利益%,業外損益%,稅後淨利%,ROE,ROA,稅後EPS,EPS成長,BPS,stockid
0,1,2015,369.0,45,27.3,37.8,-16.1,-37.1,937.0,145.0,...,15.5,10.3,-1.08,7.39,4.36,2.36,1.56,-1.37,29.26,1101
1,2,2014,369.0,53,43.4,45.7,-2.85,-6.2,1183.0,249.0,...,21,16.8,1.13,14,10.50,5.76,2.93,0.21,31.95,1101
2,3,2013,369.0,51,46.25,39.8,7.35,18.9,1161.0,228.0,...,19.7,15.3,0.71,13,10.60,5.56,2.72,0.63,30.63,1101
3,4,2012,369.0,49,38.9,35.8,3.9,11.1,1195.0,177.0,...,14.8,10.9,-0.84,8.34,7.63,3.81,2.09,-0.24,27.03,1101
4,5,2011,369.0,55,35,36.8,2.2,6.7,1185.0,206.0,...,17.4,13.6,0.3,11.6,10.80,5.24,2.33,-0.1,26.21,1101

In [35]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')
tw2330.head()

   Adj Close  Close       Date   High    Low   Open    Volume
0      172.0  172.0 2016-07-21  172.0  170.0  171.0  33130000
1      170.0  170.0 2016-07-20  170.5  169.0  170.0  38053000
2      170.5  170.5 2016-07-19  170.5  169.0  170.5  42456000
3      169.5  169.5 2016-07-18  170.0  168.0  168.0  24749000
4      169.5  169.5 2016-07-15  169.5  169.5  169.5     41000

## 使用Requests GET 存取網頁
- https://zh.wikipedia.org/wiki/HTTP%E7%8A%B6%E6%80%81%E7%A0%81

In [36]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [38]:
#res.text

## 使用POST 存取網頁
- https://www.thsrc.com.tw/tw/TimeTable/SearchResult

In [42]:
import requests

url = 'https://www.thsrc.com.tw/tw/TimeTable/SearchResult'

payload = {
'StartStation': '977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation': 'a7a04c89-900b-4798-95a3-c01c455622f4',
'SearchDate': '2018/04/21',
'SearchTime': '12:00',
'SearchWay': 'DepartureInMandarin'
}

res = requests.post(url, data=payload)

In [43]:
res

In [45]:
#res.text

## 台鐵簡易查詢
- http://twtraffic.tra.gov.tw/twrail/EasySearch.aspx

In [46]:
import requests
res = requests.get('http://twtraffic.tra.gov.tw/twrail/SearchResult.aspx?searchtype=0&searchdate=2018/04/21&fromstation=1810&tostation=1008&trainclass=%271100%27,%271101%27,%271102%27,%271107%27,%271110%27,%271120%27&fromtime=0600&totime=2359')
res

In [52]:
type(res)

requests.models.Response

In [48]:
#res.text

## 抓取圖片

In [49]:
import requests
res = requests.get('https://img.appledaily.com.tw/images/thumbnail/other/5ba954d11a2c4051f26bb879f4d0fcb4.jpg')
with open('gua.jpg', 'wb') as f:
    f.write(res.content)

## 存取PDF

In [50]:
res = requests.get('http://doc.twse.com.tw/pdf/201701_2330_AI1_20180421_121255.pdf')
with open('2330.pdf', 'wb') as f:
    f.write(res.content)

## 使用 BeautifulSoup
- http://beautifulsoup.readthedocs.io/zh_CN/v4.4.0/

In [56]:
from bs4 import BeautifulSoup

html_sample = '''
<html>
<body>
<h1 id="title">Hello World</h1>
<a href="#" class="link">This is link1</a>
<a href="# link2" class="link">This is link2</a>
</body>
</html>
'''

soup = BeautifulSoup(html_sample, 'lxml')
soup.text

'\n\nHello World\nThis is link1\nThis is link2\n\n\n'

In [57]:
type(soup)

bs4.BeautifulSoup

In [58]:
soup.select_one('h1')

In [59]:
soup.select_one('h1').text

'Hello World'

In [60]:
soup.select_one('a')

In [61]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [63]:
soup.select('a')[0]

In [64]:
soup.select('a')[1]

In [62]:
soup.select('h1')

In [65]:
soup.select('h1')[0]

In [66]:
# id => #
soup.select_one('#title')

In [68]:
soup.select_one('h1#title')

In [69]:
soup.select_one('body h1')

In [70]:
soup.select_one('body h1#title')

In [67]:
# class => .
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [71]:
soup.select('a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [72]:
soup.select('body a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [77]:
alinks = soup.select('body a.link')
for link in alinks:
    #print(link)
    #print(link.text)
    print(link.get('href'))

#
# link2

## 抓取蘋果新聞

In [78]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [80]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

### W3C 中文教程
- http://www.w3school.com.cn/html/html_links.asp

In [90]:
for news in soup.select('.rtddt a'):
    #print(news)
    if news.select_one('h1'): # 當h1 存在時 才解析出下面元素
        h1 = news.select_one('h1').text
        h2 = news.select_one('h2').text
        time = news.select_one('time').text
        link = news.get('href')
        print(h1,h2,time, link)
        print('===================================')

徐佳瑩被爆懷孕後現身　上衣寬鬆踩平底鞋揭... 娛樂 13:34 https://tw.entertainment.appledaily.com/realtime/20180421/1338781/
===================================
【撿屍片】兩次性行為只同意一次　女子怒告...(94952) 社會 13:30 https://tw.news.appledaily.com/local/realtime/20180421/1337331/
===================================
【有片】台中今早空品糟透　紫爆讓七期豪宅...(3737) 生活 13:30 https://tw.news.appledaily.com/life/realtime/20180421/1338653/
===================================
陳菊接任府秘首日　第一個行程拜會星雲大師(1) 政治 13:28 https://tw.news.appledaily.com/politics/realtime/20180421/1338789/
===================================
女星包包打馬賽克撇炫富　一牆愛馬仕早露餡 娛樂 13:28 https://tw.entertainment.appledaily.com/realtime/20180421/1338733/
===================================
挖空乾電池藏毒　肉粽當武器阻警追緝(4) 社會 13:27 https://tw.news.appledaily.com/local/realtime/20180421/1338793/
===================================
囂張！走私15萬包私菸　直接擺漁船甲板不...(26) 社會 13:23 https://tw.news.appledaily.com/local/realtime/20180421/1338792/
===================================
因應76人擺爛策略　NBA再調降狀元籤機...(102) 體育 13:21 https://tw.sports.appledaily.com/realtime/20180421/1338791/
===================================
台北鳥籠公寓價　台中換7期別墅(227) 地產 13:19 https://tw.finance.appledaily.com/realtime/20180421/1337243/
===================================
結束史瓦濟蘭之旅　蔡英文：不會金援外交(260) 政治 13:17 https://tw.news.appledaily.com/politics/realtime/20180421/1338786/
===================================
退休警後天爭權益　立院周邊公車今起3天改...(216) 生活 13:15 https://tw.news.appledaily.com/life/realtime/20180421/1338782/
===================================
首季營運遭遇亂流　光寶對下半年有高期望(158) 財經 13:08 https://tw.finance.appledaily.com/realtime/20180421/1338785/
===================================
【壹週刊】〈神蹟廟算1〉港口宮媽祖顯靈　...(934) 壹週刊 13:05 https://tw.news.appledaily.com/nextmag/realtime/20180421/1338333/
===================================
【壹週刊】〈神蹟廟算2〉賭客毀神像遭報應...(398) 壹週刊 13:05 https://tw.news.appledaily.com/nextmag/realtime/20180421/1338340/
===================================
【壹週刊】〈神蹟廟算3〉財神跨海來託夢　...(341) 壹週刊 13:05 https://tw.news.appledaily.com/nextmag/realtime/20180421/1338344/
===================================
【壹週刊】〈神蹟廟算4〉這個財神爺　名字...(203) 壹週刊 13:05 https://tw.news.appledaily.com/nextmag/realtime/20180421/1338353/
===================================
國保欠費不繳　1.8萬人終生月領4800...(3237) 生活 13:04 https://tw.news.appledaily.com/life/realtime/20180421/1338728/
===================================
阻止失智婦吞不明藥　警安撫送回護理之家(160) 社會 13:02 https://tw.news.appledaily.com/local/realtime/20180421/1338773/
===================================
陳菊任競總主委挨批　蘇貞昌：有人時光錯亂...(3036) 政治 13:00 https://tw.news.appledaily.com/politics/realtime/20180421/1338738/
===================================
​台灣參與WHA   不可能的任務？(291) 論壇 13:00 https://tw.news.appledaily.com/forum/realtime/20180421/1338761/
===================================
【更新】大谷翔平4打數2安打　天使1比8...(22283) 體育 12:59 https://tw.sports.appledaily.com/realtime/20180421/1338676/
===================================
山口茜腿傷退出亞錦賽　戴資穎搶衛冕重返球...(749) 體育 12:58 https://tw.sports.appledaily.com/realtime/20180421/1338778/
===================================
西南航機引擎爆炸　華航同款引擎需20天內...(658) 生活 12:52 https://tw.news.appledaily.com/life/realtime/20180421/1338767/
===================================
羅斯力投127球　無安打比賽還是破功(770) 體育 12:52 https://tw.sports.appledaily.com/realtime/20180421/1338776/
===================================
下周二鋒面來襲　北部低溫僅18℃(6730) 生活 12:51 https://tw.news.appledaily.com/life/realtime/20180421/1338671/
===================================
掌管市值千億光寶帝國　董座靠走路、瑜珈紓...(1062) 財經 12:45 https://tw.finance.appledaily.com/realtime/20180421/1338774/
===================================
騎士違規被攔緊張得結巴　原來手上有毒品(485) 社會 12:44 https://tw.news.appledaily.com/local/realtime/20180421/1338769/
===================================
【有片】車停店門口擋出入　暴怒老闆打人砸...(1303) 社會 12:43 https://tw.news.appledaily.com/local/realtime/20180421/1338768/
===================================
【大甲媽回鑾】陣頭搶轎開幹濺血　2男毆警...(93369) 社會 12:41 https://tw.news.appledaily.com/local/realtime/20180421/1338624/
===================================
【有片】柯P直言1280月票「小小缺點」...(25232) 生活 12:40 https://tw.news.appledaily.com/life/realtime/20180421/1338664/
===================================

In [94]:
s = BeautifulSoup("<a href='#'></a>", 'lxml')
if s.select_one('h1'):
    print('Node Exist')

## 抓取內文資訊

In [95]:
import requests
res  = requests.get('https://tw.entertainment.appledaily.com/realtime/20180421/1338733/')

In [96]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text , 'lxml')

### 抓取了標題資訊

In [105]:
soup.select_one('h1').text

'女星包包打馬賽克撇炫富\u3000一牆愛馬仕早露餡'

### 抓取摘要資訊

In [106]:
soup.select_one('.ndArticle_margin p').text.split('看了這則新聞的人')[0]

'黃聖依帶著她與富商楊子的長子安迪上《媽媽是超人》，曾傳她怕被罵炫富，特地買下約90坪的「小房子」供節目拍攝，但鏡頭隨便一掃，衣架上數個愛馬仕（HERMES）手袋仍吸睛，而最新一集她背的包包被打馬賽克，但同節目其他女星的包包都大方秀出來，可想而知馬賽克的用意並非為了免除廣告嫌疑，極可能是黃聖依請製作單位別再曝光她的奢華行頭。\xa0雖然黃聖依精心安排小房子，婆婆住的楊家氣派大宅還是全都露，包括6歲安迪的專屬滑雪場、遊樂場等，令觀眾驚呼「貧窮限制了我的想像」。此外，黃聖依是愛馬仕大戶早就眾所周知，她5年前來台打歌曾透露擁有20多個愛馬仕手袋，最愛要價百萬人民幣的喜馬拉雅柏金包（Himalayan Birkin），採用珍貴的喜馬拉雅鱷魚皮。\xa0網友好奇，她的包包究竟有多貴，才值得被打馬賽克？也有人認為，與其勞煩製作單位後製打馬賽克，為何不直接換背其他牌子的包包。（娛樂中心／綜合報導）'

### 抓取時間資訊

In [107]:
soup.select_one('.ndArticle_creat').text

'出版時間：2018/04/21 13:28'

In [108]:
a = '2018/04/02'
b = '2018/04/12'
b - a

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [111]:
dt = soup.select_one('.ndArticle_creat').text.split('：')[1]
type(dt)

str

### 將時間轉換為字串

In [113]:
from datetime import datetime
current_time = datetime.now()
# strftime: convert datetime to string
current_time.strftime('%Y-%m-%d')

## https://docs.python.org/3/library/datetime.html?highlight=datetime#strftime-and-strptime-behavior

'2018-04-21'

### 將字串轉換為時間

In [114]:
from datetime import datetime
s = '2018/04/21 13:28'
datetime.strptime(s, '%Y/%m/%d %H:%M')

datetime.datetime(2018, 4, 21, 13, 28)

In [118]:
dt = soup.select_one('.ndArticle_creat').text.split('：')[1]
datetime.strptime(dt, '%Y/%m/%d %H:%M')

datetime.datetime(2018, 4, 21, 13, 28)

In [122]:
current_time = datetime.now()
current_time - datetime.strptime(dt, '%Y/%m/%d %H:%M')

datetime.timedelta(0, 4206, 155516)

### 取出人氣資料

In [127]:
int(soup.select_one('.ndArticle_view').text)

4912

### 取出類別資料

In [126]:
soup.select_one('.ndgTag .current').text

'娛樂'

### 製作內文抓取函數

In [135]:
import requests
from bs4 import BeautifulSoup

url = 'https://tw.entertainment.appledaily.com/realtime/20180421/1338733/'

def pageDetail(url):
    res  = requests.get(url)
    soup = BeautifulSoup(res.text , 'lxml')

    ret     = {}

    title   = soup.select_one('h1').text
    summary = soup.select_one('.ndArticle_margin p').text.split('看了這則新聞的人')[0]

    dt = soup.select_one('.ndArticle_creat').text.split('：')[1]
    dt = datetime.strptime(dt, '%Y/%m/%d %H:%M')

    clicked = 0
    if soup.select_one('.ndArticle_view'):
        clicked  = int(soup.select_one('.ndArticle_view').text)

    category = soup.select_one('.ndgTag .current').text

    ret['title']    = title
    ret['summary']  = summary
    ret['dt']       = dt
    ret['clicked']  = clicked
    ret['category'] = category

    return ret

In [136]:
url = 'https://tw.entertainment.appledaily.com/realtime/20180421/1338733/'

pageDetail(url)

{'category': '娛樂',
 'clicked': 10996,
 'dt': datetime.datetime(2018, 4, 21, 13, 28),
 'summary': '黃聖依帶著她與富商楊子的長子安迪上《媽媽是超人》，曾傳她怕被罵炫富，特地買下約90坪的「小房子」供節目拍攝，但鏡頭隨便一掃，衣架上數個愛馬仕（HERMES）手袋仍吸睛，而最新一集她背的包包被打馬賽克，但同節目其他女星的包包都大方秀出來，可想而知馬賽克的用意並非為了免除廣告嫌疑，極可能是黃聖依請製作單位別再曝光她的奢華行頭。\xa0雖然黃聖依精心安排小房子，婆婆住的楊家氣派大宅還是全都露，包括6歲安迪的專屬滑雪場、遊樂場等，令觀眾驚呼「貧窮限制了我的想像」。此外，黃聖依是愛馬仕大戶早就眾所周知，她5年前來台打歌曾透露擁有20多個愛馬仕手袋，最愛要價百萬人民幣的喜馬拉雅柏金包（Himalayan Birkin），採用珍貴的喜馬拉雅鱷魚皮。\xa0網友好奇，她的包包究竟有多貴，才值得被打馬賽克？也有人認為，與其勞煩製作單位後製打馬賽克，為何不直接換背其他牌子的包包。（娛樂中心／綜合報導）',
 'title': '女星包包打馬賽克撇炫富\u3000一牆愛馬仕早露餡'}

In [137]:
pageDetail('https://tw.finance.appledaily.com/realtime/20180421/1338763/')

{'category': '財經地產',
 'clicked': 3663,
 'dt': datetime.datetime(2018, 4, 21, 13, 58),
 'summary': '更新：新增影片談到華為，就會讓人想到著名的狼性文化，華為技術台灣總代理訊崴技術總經理雍海任職台灣操盤手已2年，近期為擴大組織，積極面試新人，他透露他一定會問面試者的一個問題就是：「你的夢想是什麼」。Interbrandr近期發布的《2017年全球最佳品牌》排名顯示，華為名列全球第70名，品牌價值較去年提升14%。稱之為國際品牌當之無愧。 又到了每年新鮮人求職的旺季，不免讓人好奇，要進入華為工作，可能會被詢問的問題是什麼？雍海在到台灣任職前，不僅在中國市場任職過，他也曾外派歐洲荷蘭等市場，他說，他一定會問面試者的問題就是「你的夢想是什麼？我們能不能幫助你實現夢想？」雍海指出，賺錢是一方面，但賺錢其實是在追求夢想中的過程副產品，一個人如果連對自己的未來不深入思考、規劃，在工作上也不一定盡心。雍海也指出，台灣的年輕人是蠻優秀，受的教育程度也非常高，但現在面臨非常大問題就是視野不夠開闊，局限了想像力和未來的憧憬，未來的憧憬就是華為所謂的奮鬥精神。 問夢想和追求就是想要看到他的奮鬥精神，因為當人慢慢成長時，就會發賺錢賺最多的，不一定是最幸福的人。雍海也說明，一個人夢想不一定要很明確、很長遠，但至少要有大致的方向和階段性目標，他比較喜歡能自我挑戰的人，要能夠「馬不揚鞭，自奮蹄」，不是要別人抽著他跑的人。（陳俐妏／台北報導）出版：12:31更新：13:58',
 'title': '這個狼性文化的公司\u3000會問面試者的問題出乎意料'}

In [138]:
pageDetail('https://tw.news.appledaily.com/life/realtime/20180421/1338833/')

{'category': '生活',
 'clicked': 0,
 'dt': datetime.datetime(2018, 4, 21, 14, 45),
 'summary': '有意爭取民進黨台北市長提名參選的民進黨立委姚文智，將於明天發起「機蛋大遊行」，並凝聚反對台北市長柯文哲的勢力，邀請民眾從松山機場走到台北大巨蛋。但網友在PTT爆料稱，有人在通訊軟體LINE的某個打工群組募集「4/22造勢遊行」走路工，報酬500元。台北市議員民進黨團總召李慶鋒今受訪說，聽聞此訊息直覺「太荒謬」，在這個時代他相信姚本人或民代們應該不會做這種事。李也質疑是否為「熱心過頭」，或「超級有可能」是反動員、對手的支持者，意圖影響遊行的正當性而有的抹黑或造謠的行為；也可能沒有根據的謠言、在網路擴大或帶風向。李慶鋒也說，市議會民進黨團雖協助姚辦活動，仍尊重議員個人的態度，據他所知就有議員不會參加。（郭美瑜／台北報導）',
 'title': '遊行遭影射有走路工\u3000綠營：反動員招術？'}